.b-logo {
  width: 195px;
  margin:0 15px;
  display: block;
}
.b-login__page {
  color: #fff;
  padding-top:80px;
  padding-bottom: 0;
  background: url("/assets/img/bg/login-bg.jpg") no-repeat top left fixed;
  background-size: cover;
}
.b-divider {
  border-color: $green;
}
.b-footer__menu {
  list-style: none;
  font-size: 12px;
  padding:10px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $green;
  font-family: $bold__font;

  > li {

    > a {
      color: #fff;
    }
  }
}
.b-pointer {
  position: relative;
  margin-bottom: 15px;
  font-size: 20px;
  font-family: $bold__font;
  padding: 15px 0;

  &:after {
    content: '';
    width: 0;
    height: 0;
    left:50%;
    bottom:0;
    position: absolute;
    border-style: solid;
    transform: translateX(-50%);
    border-width: 10px 7.5px 0 7.5px;
    border-color: #ffffff transparent transparent transparent;
  }
}
.b-slide {
  font-family: $bold__font;
  background-color: rgba(44, 103, 0, .55);
  padding:20px 0 50px;

  .orbit-image {
    max-width:80%;
    margin:0 auto;
  }

  .header {
    font-size: 50px;
  }

  .caption {
    font-size: 25px;
  }
}


.w-lang {
  position: relative;

  .dropdown-pane {
    margin:0;
    padding:5px 12px;
    border: none;
    font-weight:400;
    font-size: 17px;
    text-align: left;
    left:0!important;
    top:100%!important;
    list-style-type: none;
    width: 100%!important;
    //background-color: #716c66;
    background-color: #92cd00;
    text-transform: capitalize;
    box-shadow: 0 7px 10px rgba(0, 0, 0, .3);

    >li {

      >a {
        color: #fff;
        display: block;
      }
    }
  }
}
.w-login__form {
  padding:25px 16px;
  margin-bottom:24px;
  background-color: rgba(44, 103, 0, .55);

  label,
  a {
    color: #fff;
  }
}
.w-join {
  color: $beige;
  font-size: 24px;
  padding:10px 5px;
  text-align: center;
  font-family:$bold__font;
  background-color: rgba(44, 103, 0, 0.55);

  a {
    color: $beige;
  }
}
.w-orbit__bullets {
  left:50%;
  bottom:0;
  position: absolute;
  transform: translateX(-50%);
}
.w-slider {
  margin-bottom:.8rem;
  //height:calc(100vh - 55px - 112px);
}

