.w-header {
  top:0;
  left:0;
  width: 100%;
  color: #fff;
  height: 48px;
  position: fixed;
  background-color: $green;

  display: flex;
  align-items: center;
}
.w-nav {
  flex:0 1 740px;
  //padding-right: 56%;

  .b-toolbar {
    width: 540px;
    margin: 0 auto;
  }
}