.is-favorite {
  color: #ffcf79;
  cursor: pointer;
  font-size: inherit;
  text-rendering: auto;
  display: inline-block;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: normal normal normal 20px/1 FontAwesome;

  &:before {
    content: "\f005";
  }
}
.b-message__indicator {
  width: 25px;
  color: #fff;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  background-color: $green;

  &:empty {
    display: none;
  }
}

.b-card {
  padding:0;

  .close-button {
    top:4px;
  }

  .info {
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    margin-bottom:24px;
    background-color: $green;
  }

  .w-btn {
    margin-right: 5%;
  }
}
.b-favorite__online {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .ava {
    flex: 0 0 40px;
  }

  .text {
    color: #fff;
    font-weight:bold;
    overflow: hidden;
    padding-left:15px;
    white-space:nowrap;
    text-overflow: ellipsis;
  }
}
.b-main__logo {
  width: 220px;
  height: 40px;
  display: block;
  flex: 0 0 220px;
  background: url("/assets/img/logos/logo__white.png") no-repeat center center;
  background-size: contain;
}
.b-status__indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;

  &.offline {
    border: 2px solid #e5e4d7;
  }
  &.recently__online {
    background-color: #ffff00;
  }
  &.currently__online {
    background-color: #ffff00;
  }
}
.b-user__list {
  margin:10px 0;

  >li {
    display: flex;

    .ava {
      width: 25%;
      height: 110px;
      flex: 0 0 110px;
      //max-width:200px;
      position: relative;

      img {
        height:100%;
        width: 100%;
        object-fit: cover;
      }

      .b-status__indicator {
        left:10px;
        bottom:10px;
        position: absolute;
      }
    }

    .inner {
      width: 100%;
      flex: 1 1 75%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      padding-right: 40px;
      margin:10px 0 10px 15px;
      border-bottom: 2px solid;

      .b-message__indicator {
        right: 0;
        bottom:15px;
        position: absolute;
      }
      .is-favorite {
        right: 0;
        position: absolute;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
      }

      .col {
        width: 50%;
        flex: 1 1 50%;
        font-size: 16px;
        padding: 0 10px;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .distance {
        padding-bottom: 10px;
        align-self: flex-end;
      }

      .discription {
        padding-bottom: 10px;
        align-self: flex-end;
      }

      .name {
        font-size: 18px;
      }
    }
  }

  >li + li {
    margin-top:10px;
  }
}
.b-vertical__menu {
  padding-left: 15px;
  margin: 24px 0;

  >.active {

    &:before {
      top:50%;
      left:-15px;
      content: '';
      width: 15px;
      height:15px;
      position: absolute;
      border-radius: 50%;
      transform: translateY(-50%);
      background-color: $light__green;
    }

    >a {
      color: $light__green;
      background-color: transparent;
    }
  }

  > li {
    position: relative;

    >a {
      color: $light;
      font-size: 18px;
      padding:6px 12px;
      font-family: $bold__font;
    }
  }
}


.w-change__view {
  margin: 24px 0;

  .b-btn__icon + .b-btn__icon {
    margin-left:24px;
  }
}
.w-online__favorites {
  width: 100%;
  background-color: $dark;

  .inner {
  }

  header {
    color: $beige;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;

    .icon {
      color: inherit;
      font-size: inherit;
    }
  }
}