.b-content {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;

  >.inner__col {
    width: 100%;
    min-height:100%;
    max-width: 740px;
    padding: 0 10px 10px;
    background-color: $light;
  }
}
.b-sidenav {
  height: 100%;
  overflow-y: scroll;
  padding:0 20px 150px;
  width: calc(100% + 15px);
}

.w-app {
  display: flex;
  background-color: $dark;
}
.w-content {
  width: 100%;
  height: 100vh;
  padding-top: 48px;
}
.w-sidenav {
  width: 220px;
  height: 100vh;
  flex: 0 0 220px;
  padding-top: 48px;
}
