body {
  font-family: $regular__font;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $bold__font;
}
.text-with__shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}
.b-box {
  margin:20px 0;
}

.list {
  >li {
    >a {
      color: #fff;
    }
  }
}

.list-unstyled {
  margin:0;
  list-style: none;
}

.text-bold {
  font-family: $bold__font;
}
.text-italic {
  font-family: $italic__font;
}
.no-padding {
  padding:0;
}