/*color*/
$dark: #393933;
$light: #e5e4d7;
$beige: #ffcf79;
$red: #aa5a50;
$green: #2c6700;
$light__green: #92cd00;

/*fonts*/
$regular__font: 'SegoeUI';
$bold__font: 'SegoeUI-Bold';
$italic__font: 'SegoeUI-Italic';

