.b-header {
  color: $green;
  font-size: 15px;
  padding-bottom:10px;
  font-family: $bold__font;
  border-bottom: 1px solid $green;
}
.b-regular__header {
  font-size: 15px;
  margin-bottom: 12px;
  font-family: $regular__font;
}