.mobile-breakpoint {
  margin: 0 auto;
  max-width: 600px;
  background: #7f7d7d;
}
.js-off-canvas-overlay {
  z-index:5001;
}
.off-canvas {
  z-index:5002;
}
.reveal-overlay {
  z-index:5005;
  overflow: hidden;
}


.b-navbar {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  position: absolute;

  &.centered {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.no-padding {
    padding:0;
  }
}
.b-page {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #e5e4d7;
  box-sizing: border-box;

  &.no-toolbar {

    .w-page__content {
      padding-bottom:0;
    }
  }

  &.with__messagebar {

    .w-page__content {
      padding-bottom:100px;
    }
  }
}


.w-root {
  overflow: hidden;
}
.w-root,
body,
html {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.w-views,
.w-view {
  height: 100%;
  overflow: auto;
  position: relative;
  z-index: 5000;
}
.w-view {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
}
.w-navbar,
.w-toolbar{
  //top: 0;
  //left: 0;
  width:100%;
  height:48px;
  color: #fff;
  z-index: 500;
  position: absolute;
  background-color: #2c6700;
  backface-visibility: hidden;

  .text {
    color: $light;
    font-size: 18px;
    font-family: $bold__font;
    text-transform: capitalize;

    &.small__text {
      font-size: 16px;
      text-transform: lowercase;
    }
  }

  .step.active {
    font-weight:bold;
  }
}
.w-toolbar {
  bottom:0;
}
.w-pages {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  position: relative;
}
.w-page__content {
  z-index: 1;
  height: 100%;
  overflow: auto;
  padding:48px 0;
  position: relative;
  box-sizing: border-box;
  overflow-scrolling: touch;
}


//html, body {
//  height:100%;
//}
//.height100 {
//  height:100%;
//}
//.page-content {
//  min-height: 100vh;
//  overflow: auto;
//  padding: 48px 0;
//  background-color: #fff;
//
//  &.no-toolbar {
//    padding-bottom: 0;
//  }
//}
//.off-canvas-wrapper {
//  height:100%;
//}
//.off-canvas-content {
//  height:100%;
//}
//
//
//.b-content {
//  margin:0 auto;
//  max-width:600px;
//  min-height:100vh;
//}
//.w-content {
//  min-height: 100vh;
//  background-color: $light;
//}
//.w-title {
//
//  &.fixed {
//    top:0;
//    left:0;
//    width: 100%;
//    z-index:10;
//    position: fixed;
//    backface-visibility: hidden;
//  }
//}
//.w-toolbar {
//  left:0;
//  bottom:0;
//  width: 100%;
//  position: fixed;
//  background-color: $dark;
//  backface-visibility: hidden;
//}
