.b-btn {
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}
.b-btn__color {
  color: #fff;
  cursor: pointer;
  background-color: $red;
}
.b-btn__inactive {
  color: #000;
  background-color: $light;
}
.b-btn__default {
  color: $green;
  font-family: $bold__font;
  background-color: $beige;

  &.big__font {
    font-size: 18px;
  }
}
.b-btn__upload-photo {
  margin: 0;
  color: $green;
  font-size: 20px;
  font-family: $bold__font;
  background-color: $light__green;
}
.b-menu-icon {
  margin:0;
  //color: $beige;
  color: $light;
  font-size: 27px;
  padding: 6px 12px;
  background-color: transparent;
}
.b-btn__lang {
  color: #fff;
  outline:none;
  padding:6px 12px;
  white-space:nowrap;

  &.hover {
    //background-color: #716c66;
    background-color: #92cd00;
  }
}
.b-btn__icon {
  cursor: pointer;
  //color: $beige;
  color: $light;
  outline:none;
  //padding:6px 12px;
  padding:5px 10px;
  font-size: 40px;
  white-space:nowrap;

  .icon {
    width: 36px;
  }

  &.favorite {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:before {
      content: "\f006";
    }

    &.active:before {
      content: "\f005";
    }
  }

  &.grid__view {
    width: 25px;
    height:25px;
    background: url("/assets/img/icons/icon15.png") no-repeat center;
    background-size: contain;

    &.active {
      background-image: url("/assets/img/icons/icon15__active.png");
    }
  }

  &.list__view {
    width: 25px;
    height:25px;
    background: url("/assets/img/icons/icon16.png") no-repeat center;
    background-size: contain;

    &.active {
      background-image: url("/assets/img/icons/icon16__active.png");
    }
  }
}
.b-btn__photo-add {
  font-size: 60px;
  cursor: pointer;
  color: $light__green;
}
.b-checkbox {
  color: #000;
  display: flex;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  align-items: center;
  text-transform: lowercase;

  &.desktop {

    .media_inner {
      border-color: #fff;
    }

    .text {
      color: #fff;
      font-size: 18px;
      padding: 0 10px;
      font-weight: bold;
      text-transform: capitalize;
    }

    > input[type="checkbox"]:checked ~ .media_inner:before,
    > input[type="checkbox"]:checked ~ .text {
      color: $light__green;
    }
  }

  > input[type="checkbox"] {
    display: none;
  }

  > input[type="checkbox"]:checked ~ .media_inner:before {
    color: $red;
    content: "\f00c";
  }

  .media_inner {
    width: 20px;
    height: 20px;
    border: 2px solid $dark;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  .text {
    color: $dark;
    flex: 1 0 auto;
    padding: 0 15px;
    text-transform: lowercase;
  }

  .icon {
    color: $red;

    &.online {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #8ac176;
    }
  }
}


.b-label {
  position: relative;

  &+.b-label {
    margin-left:15px;
  }

  //.icon {
  //  right: -10px;
  //  top: -10px;
  //  width: 20px;
  //  height: 20px;
  //  display: flex;
  //  font-size: 14px;
  //  position: absolute;
  //  border-radius: 50%;
  //  align-items: center;
  //  justify-content: center;
  //  background-color: $red;
  //}
}

.unstyled-select {
  margin:0;
  border:none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}
