.b-scroll__top {
  right: 10%;
  z-index:999;
  bottom: -58px;
  color: $beige;
  display: block;
  line-height: 1;
  position: fixed;
  font-size: 55px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
  transition: all cubic-bezier(.68,-.55,.27,1.55) .3s;

  &.active {
    bottom: 5%;
  }

  &:hover,
  &:focus {
    color: $beige;
  }
}