.b-toolbar {
  margin:0;
  height: 48px;
  display: flex;
  list-style: none;
  align-items: center;

  > li {
    flex:0 1 100%;

    &.active {

      .discover {
        background: url("/assets/img/icons/icon05__active.png") no-repeat center center;
        background-size: contain;
      }

      .message {
        background: url("/assets/img/icons/icon06__active.png") no-repeat center center;
        background-size: contain;
      }

      .profile {
        background: url("/assets/img/icons/icon07__active.png") no-repeat center center;
        background-size: contain;
      }
    }

    &.is-active {

      .chat {
        background: url("/assets/img/icons/icon11__active.png") no-repeat center center;
      }

      .photo {
        background: url("/assets/img/icons/icon12__active.png") no-repeat center center;
      }

      .location {
        background: url("/assets/img/icons/icon13__active.png") no-repeat center center;
      }
    }

    > a {
      text-align: center;
      color: $beige;
      display: block;
      //line-height: 1;
      //font-size: 35px;
      //padding: 6px 12px;
    }
  }

  .icon {
    width: 45px;
    height: 40px;
    margin: 0 auto;
    position: relative;
    background-size: contain!important;

    &.discover {
      background: url("/assets/img/icons/icon05.png") no-repeat center center;
    }

    &.message {
      background: url("/assets/img/icons/icon06.png") no-repeat center center;
    }

    &.profile {
      background: url("/assets/img/icons/icon07.png") no-repeat center center;
    }

    &.chat {
      background: url("/assets/img/icons/icon11.png") no-repeat center center;
    }
    &.photo {
      background: url("/assets/img/icons/icon12.png") no-repeat center center;
    }
    &.location {
      background: url("/assets/img/icons/icon13.png") no-repeat center center;
    }

    .incomming {
      top: 0;
      height: 20px;
      width: 20px;
      right: -10px;
      background: #ff0000;
      position: absolute;
      border-radius: 50%;
      border: 3px solid $green;
    }
  }
}


.w-messagebar {
  min-height:98px;

  &.active {
    min-height:348px;
  }
}
.w-toolbar {
  z-index: 10;
}