.b-discover__page {
  //padding-bottom:0;
}
.b-dropdown__list {
  right: 0;
  list-style: none;
  border-radius: 4px;
  left: auto!important;
  width: 300px!important;
  top: calc(100% + 15px)!important;

  >li+li {
    margin-top:5px;
  }

  &:after {
    content: '';
    position: absolute;
    top: -14px;
    right: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #fefefe transparent;
  }

  &:before {
    content: '';
    position: absolute;
    top: -15px;
    right: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #cacaca transparent;
  }
}
.b-user__card {
  cursor: pointer;
  position: relative;
  margin-bottom: 2px;
  //border: 1px solid #666;
  width: calc((100% - 4px*1) / 3);

  &.desktop {
    width: calc((100% - 4px*1) / 4);

    @media(max-width: 1000px) {
      width: calc((100% - 4px*1) / 3);
    }
  }

  .is-favorite {
    top: 15px;
    left: 15px;
    color: $beige;
    cursor: pointer;
    position: absolute;
    font-size: inherit;
    text-rendering: auto;
    display: inline-block;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font: normal normal normal 20px/1 FontAwesome;

    &:before {
      content: "\f005";
    }
  }

  .message {
    top: 15px;
    right: 15px;
    width: 25px;
    color: #fff;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    background-color: $green;

    &:empty {
      display: none;
    }
  }

  .name {
    bottom: 0;
    color: #fff;
    width: 100%;
    font-size: 18px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    padding: 0 5px 0 25px;
    text-overflow: ellipsis;
    text-shadow: 2px 2px 2px #000;
  }

  .status {
    width: 15px;
    height: 15px;
    left: 5px;
    bottom: 5px;
    position: absolute;
    border-radius: 50%;

    &.offline {
      border:2px solid #e5e4d7;
    }
    &.currently__online {
      background-color: #00ff00;
    }
    &.recently__online {
      background-color: #ffff00;
    }
  }
}

.w-card__row {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;

  &.desktop {
    margin: 0 -10px;
  }
}
.position__relative {
  position: relative;
}