<div class="w-root">
    <div class="w-views">
        <div class="w-view">
            <div class="w-navbar">
                <div class="b-navbar centered">
                    <div class="navbar-left">
                        <button class="b-btn__icon" type="button">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </button>
                    </div>

                    <div class="text"></div>

                    <div class="navbar-right"></div>
                </div><!--b-navbar-->
            </div><!--w-navbar-->

            <div class="w-pages">
                <div class="b-page no-toolbar">
                    <div class="w-page__content">
                        Blank Blank Blank Blank Blank
                    </div><!--b-login__page-->
                </div><!--b-page-->
            </div><!--w-pages-->
        </div><!--w-view-->
    </div><!--w-views-->
</div><!--w-root-->