<div class="w-root">
    <div class="w-views">
        <div class="w-view">
            <div class="w-navbar">
                <div class="b-navbar no-padding centered">
                    <ul class="b-tabs__menu">
                        <li class="active"><a href="#">All</a></li>
                        <li><a href="#">Unread</a></li>
                        <li><a href="#">Favorites</a></li>
                    </ul><!--b-tabs__menu-->
                </div><!--b-navbar-->
            </div><!--w-navbar-->

            <div class="w-pages">
                <div class="b-page">
                    <div class="b-chat__page w-page__content">
                        <ul class="b-chat__list">
                            <li class="b-chat__link-item">
                                <div class="item-media">
                                    <img src="/assets/img/ava/img01.jpg" alt="" class="">
                                </div><!--item-media-->
                                
                                <div class="item-inner">
                                    <div class="status currently__online"></div>

                                    <div class="w-text unread">
                                        <div class="name">Nickname</div>
                                        <div class="body">Hey, what’s up?</div>
                                    </div><!--w-text-->

                                    <div class="w-indicators">
                                        <div class="message__time">20 min ago</div>
                                        <div class="message__count">3</div>
                                    </div><!--w-indicators-->
                                </div><!--item-inner-->
                            </li><!--b-chat__link-item-->

                            <li class="b-chat__link-item">
                                <div class="item-media">
                                    <img src="/assets/img/ava/img01.jpg" alt="" class="">
                                </div><!--item-media-->

                                <div class="item-inner">
                                    <div class="status recently__online"></div>

                                    <div class="w-text">
                                        <div class="name">Nickname</div>
                                        <div class="body">how have you been?</div>
                                    </div><!--w-text-->

                                    <div class="w-indicators">
                                        <div class="message__time">55 min ago</div>
                                        <div class="message__count"></div>
                                    </div><!--w-indicators-->
                                </div><!--item-inner-->
                            </li><!--b-chat__link-item-->

                            <li class="b-chat__link-item">
                                <div class="item-media">
                                    <img src="/assets/img/ava/img01.jpg" alt="" class="">
                                </div><!--item-media-->

                                <div class="item-inner">
                                    <div class="status"></div>

                                    <div class="w-text unread">
                                        <div class="name">Nickname</div>
                                        <div class="body">I was hoping we loremm</div>
                                    </div><!--w-text-->

                                    <div class="w-indicators">
                                        <div class="message__time">2 hours ago</div>
                                        <div class="message__count">3</div>
                                    </div><!--w-indicators-->
                                </div><!--item-inner-->
                            </li><!--b-chat__link-item-->

                            <li class="b-chat__link-item">
                                <div class="item-media">
                                    <img src="/assets/img/ava/img01.jpg" alt="" class="">
                                </div><!--item-media-->

                                <div class="item-inner">
                                    <div class="status"></div>

                                    <div class="w-text unread">
                                        <div class="name">Nickname</div>
                                        <div class="body">???</div>
                                    </div><!--w-text-->

                                    <div class="w-indicators">
                                        <div class="message__time">5 hours ago</div>
                                        <div class="message__count">x</div>
                                    </div><!--w-indicators-->
                                </div><!--item-inner-->
                            </li><!--b-chat__link-item-->

                            <li class="b-chat__link-item">
                                <div class="item-media">
                                    <img src="/assets/img/ava/img01.jpg" alt="" class="">
                                </div><!--item-media-->

                                <div class="item-inner">
                                    <div class="status"></div>

                                    <div class="w-text reply">
                                        <div class="name">Nickname</div>
                                        <div class="body">
                                            <div class="icon"></div>
                                            not sure :-(
                                        </div>
                                    </div><!--w-text-->

                                    <div class="w-indicators">
                                        <div class="message__time">5 hours ago</div>
                                        <div class="message__count">x</div>
                                    </div><!--w-indicators-->
                                </div><!--item-inner-->
                            </li><!--b-chat__link-item-->
                        </ul><!--b-chat__list-->
                    </div><!--b-chat__page-->
                </div><!--b-page-->
            </div><!--w-pages-->

            <div class="w-toolbar">
                <ul class="b-toolbar">
                    <li>
                        <a href="#" class="icon discover"></a>
                    </li>
                    <li class="active">
                        <a href="#" class="icon message">
                            <!--<span class="incomming"></span>-->
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icon profile"></a>
                    </li>
                </ul><!--b-toolbar-->
            </div><!--w-toolbar-->
        </div><!--w-view-->
    </div><!--w-views-->
</div><!--w-root-->