<div class="w-root">
    <div class="w-views">
        <div class="w-view">
            <div class="w-navbar">
                <div class="b-navbar centered">
                    <div class="navbar-left">
                        <button class="b-btn__icon" type="button">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </button>
                    </div>

                    <div class="b-user__card-xs">
                        <div class="ava">
                            <img src="/assets/img/ava/img01.jpg" alt="">
                        </div><!--ava-->

                        <div class="inner__text">
                            <div class="status"></div><!--recently__online currently__online-->
                            <div class="name">Nickname Nickname Nickname </div>
                            <div class="distance">1.1 km away Nickname  Nickname Nickname </div>
                        </div><!--inner__text-->
                    </div><!--b-user__card-xs-->

                    <div class="navbar-right">
                        <button class="b-btn__icon" type="button">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div><!--b-navbar-->
            </div><!--w-navbar-->

            <div class="w-pages">
                <div class="b-page with__messagebar">
                    <div class="b-chat__page w-page__content">
                        <div class="w-messages">
                            <div class="b-messages__date">Mo, March 13</div><!--b-messages__date-->

                            <div class="b-message message-received message-last">
                                <div class="message-text">
                                    Lorem ipsum dolor amet,
                                    consectetur adipisicing
                                    elit. Accusamus aperiam
                                </div>
                                <div class="time">10:23</div>
                            </div><!--b-message-->

                            <div class="b-message message-sent">
                                <div class="message-text">
                                    Lorem ipsum dolor sit,
                                    consectetur adipisicing
                                    elit. Accusamus aperiam
                                    ea, excepturi facere...
                                </div>

                                <div class="time"></div>
                            </div><!--b-message-->

                            <div class="b-message message-sent message-last">
                                <div class="message-text">
                                    Lorem ipsum dolor sit,
                                    consectetur adipisicing
                                </div>

                                <div class="time">10:29</div>
                            </div><!--b-message-->

                            <div class="b-messages__date">
                                Tu, March 14
                            </div><!--b-messages__date-->

                            <div class="b-message message-received">
                                <div class="message-text">
                                    Lorem ipsum dolor sit
                                    consectetur adipisicing
                                    elit. Accusamus aperiam
                                </div>
                            </div><!--b-message-->

                            <div class="b-message message-received message-last">
                                <div class="message-location">
                                    <img src="/assets/img/bg/map.jpg" alt="" class="">
                                </div>
                                <div class="time">11:07</div>
                            </div><!--b-message-->

                            <div class="b-message message-sent message-last">
                                <div class="message-location">
                                    <img src="/assets/img/bg/chat__img.jpg" alt="" class="">
                                </div>
                                <div class="time">11:07</div>
                            </div><!--b-message-->
                        </div><!--w-messages-->
                    </div><!--b-chat__page-->
                </div><!--b-page-->
            </div><!--w-pages-->

            <div class="w-messagebar w-toolbar">
                <div class="b-enter__text">
                    <textarea id="text__field" placeholder="Type something..." class=""></textarea>

                    <button type="button" id="send" class="b-btn__icon send__link">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </button>
                </div>

                <ul class="b-toolbar" data-tabs id="media__tabs">
                    <li class="tabs-title">
                        <a href="#keyboard" class="icon chat media-link" id="keyboard__link"></a>
                    </li>
                    <li class="tabs-title">
                        <a href="#photo__tab" class="icon photo media-link"></a>
                    </li>
                    <li class="tabs-title">
                        <a href="#location__tab" class="icon location media-link"></a>
                    </li>
                </ul><!--b-toolbar-->

                <div class="w-media__content" data-tabs-content="media__tabs">
                    <div class="tabs-panel" id="keyboard">
                        <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
                    </div>
                    <div class="w-photo__tab tabs-panel no-padding" id="photo__tab">
                        <button class="b-btn__upload-photo expanded button">Send Photo</button>

                        <div class="w-user__photos">
                            <button class="b-btn__photo-add user__photos-width">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button><!--b-btn__photo-add-->

                            <label class="b-user__photo user__photos-width">
                                <input type="checkbox">

                                <span class="media__icon"></span>

                                <img src="/assets/img/ava/img02.jpg" alt="">
                            </label>
                            <label class="b-user__photo user__photos-width">
                                <input type="checkbox">

                                <span class="media__icon"></span>

                                <img src="/assets/img/ava/img02.jpg" alt="">
                            </label>
                            <label class="b-user__photo user__photos-width">
                                <input type="checkbox">

                                <span class="media__icon"></span>

                                <img src="/assets/img/ava/img02.jpg" alt="">
                            </label>
                            <label class="b-user__photo user__photos-width">
                                <input type="checkbox">

                                <span class="media__icon"></span>

                                <img src="/assets/img/ava/img02.jpg" alt="">
                            </label>
                            <label class="b-user__photo user__photos-width">
                                <input type="checkbox">

                                <span class="media__icon"></span>

                                <img src="/assets/img/ava/img02.jpg" alt="">
                            </label>
                            <label class="b-user__photo user__photos-width">
                                <input type="checkbox">

                                <span class="media__icon"></span>

                                <img src="/assets/img/ava/img02.jpg" alt="">
                            </label>
                            <label class="b-user__photo user__photos-width">
                                <input type="checkbox">

                                <span class="media__icon"></span>

                                <img src="/assets/img/ava/img02.jpg" alt="">
                            </label>
                            <label class="b-user__photo user__photos-width">
                                <input type="checkbox">

                                <span class="media__icon"></span>

                                <img src="/assets/img/ava/img02.jpg" alt="">
                            </label>
                            <label class="b-user__photo user__photos-width">
                                <input type="checkbox">

                                <span class="media__icon"></span>

                                <img src="/assets/img/ava/img02.jpg" alt="">
                            </label>
                            <label class="b-user__photo user__photos-width">
                                <input type="checkbox">

                                <span class="media__icon"></span>

                                <img src="/assets/img/ava/img02.jpg" alt="">
                            </label>
                            <label class="b-user__photo user__photos-width">
                                <input type="checkbox">

                                <span class="media__icon"></span>

                                <img src="/assets/img/ava/img02.jpg" alt="">
                            </label>
                        </div><!--w-user__photos-->
                    </div>
                    <div class="w-location__tab tabs-panel no-padding" id="location__tab">
                        <button class="b-btn__upload-photo expanded button">Send Photo</button>

                        <div id="map" class="w-map">
                            <img src="/assets/img/bg/temp.jpg" alt="">
                        </div>
                    </div><!--w-location__tab-->
                </div><!--w-media__content-->
            </div><!--w-messagebar-->
        </div><!--w-view-->
    </div><!--w-views-->
</div><!--w-root-->