<div class="w-root off-canvas-wrapper">
    <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
        <button class="close-button" aria-label="Close menu" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>

        <ul class="vertical menu">
            <li><a href="#">Login/Logout</a></li>
            <li><a href="#">Help &amp; Support</a></li>
            <li><a href="#">Switch to German</a></li>
        </ul>

        <hr class="b-divider">

        <ul class="vertical menu">
            <li><a href="#">Disclaimer</a></li>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Imprint</a></li>
        </ul>
    </div><!--off-canvas-->

    <div class="off-canvas-content w-views" data-off-canvas-content>
        <div class="w-view">
            <div class="w-navbar">
                <div class="b-navbar centered">
                    <div class="navbar-left">
                        <button class="b-btn__icon" type="button" data-toggle="offCanvas">
                            <img class="icon" src="/assets/img/icons/icon04.png" alt="">
                        </button>
                    </div>

                    <div class="navbar-center">
                        <button class="b-btn__icon" type="button">
                            <img class="icon" src="/assets/img/icons/icon02.png" alt="">
                        </button>
                    </div>

                    <div class="navbar-right">
                        <div class="position__relative">
                            <button class="b-btn__icon" type="button" data-toggle="filter">
                                <img class="icon" src="/assets/img/icons/icon03.png" alt="">
                            </button>

                            <ul class="b-dropdown__list dropdown-pane float-right" id="filter" data-dropdown
                                data-close-on-click="true">
                                <li>
                                    <label class="b-checkbox">
                                        <input type="checkbox">
                                        <div class="media_inner"></div>
                                        <div class="text">Only online users</div>
                                        <div class="icon online"></div>
                                    </label>
                                </li>
                                <li>
                                    <label class="b-checkbox">
                                        <input type="checkbox">
                                        <div class="media_inner"></div>
                                        <div class="text">Only online users</div>
                                        <div class="icon fa fa-star"></div>
                                    </label>
                                </li>
                            </ul>
                        </div><!--position__relative-->
                    </div>
                </div><!--b-navbar-->
            </div><!--w-navbar-->

            <div class="w-pages">
                <div class="b-page">
                    <div class="b-discover__page w-page__content">
                        <div class="w-card__row">
                            <figure class="b-user__card">
                                <div class="is-favorite"></div>

                                <div class="message">3</div>

                                <div class="status currently__online"></div>

                                <div class="ava">
                                    <img src="/assets/img/ava/img01.jpg" alt="" class="" style="width: 100%">
                                </div>

                                <div class="name">
                                    #nickname #nickname
                                </div>
                            </figure><!--b-user__card-->

                            <figure class="b-user__card">
                                <div class="is-favorite"></div>

                                <div class="message">32</div>

                                <div class="status recently__online"></div>

                                <div class="ava">
                                    <img src="/assets/img/ava/img01.jpg" alt="" class="" style="width: 100%">
                                </div>

                                <div class="name">
                                    #nickname #nickname
                                </div>
                            </figure><!--b-user__card-->

                            <figure class="b-user__card">
                                <div class="is-favorite"></div>

                                <div class="message"></div>

                                <div class="status offline"></div>

                                <div class="ava">
                                    <img src="/assets/img/ava/img01.jpg" alt="" class="" style="width: 100%">
                                </div>

                                <div class="name">
                                    #nickname #nickname
                                </div>
                            </figure><!--b-user__card-->

                            <figure class="b-user__card">
                                <div class="is-favorite"></div>

                                <div class="message">3</div>

                                <div class="status currently__online"></div>

                                <div class="ava">
                                    <img src="/assets/img/ava/img01.jpg" alt="" class="" style="width: 100%">
                                </div>

                                <div class="name">
                                    #nickname #nickname
                                </div>
                            </figure><!--b-user__card-->

                            <figure class="b-user__card">
                                <div class="is-favorite"></div>

                                <div class="message">32</div>

                                <div class="status recently__online"></div>

                                <div class="ava">
                                    <img src="/assets/img/ava/img01.jpg" alt="" class="" style="width: 100%">
                                </div>

                                <div class="name">
                                    #nickname #nickname
                                </div>
                            </figure><!--b-user__card-->

                            <figure class="b-user__card">
                                <div class="is-favorite"></div>

                                <div class="message"></div>

                                <div class="status offline"></div>

                                <div class="ava">
                                    <img src="/assets/img/ava/img01.jpg" alt="" class="" style="width: 100%">
                                </div>

                                <div class="name">
                                    #nickname #nickname
                                </div>
                            </figure><!--b-user__card-->

                            <figure class="b-user__card">
                                <div class="is-favorite"></div>

                                <div class="message">3</div>

                                <div class="status currently__online"></div>

                                <div class="ava">
                                    <img src="/assets/img/ava/img01.jpg" alt="" class="" style="width: 100%">
                                </div>

                                <div class="name">
                                    #nickname #nickname
                                </div>
                            </figure><!--b-user__card-->

                            <figure class="b-user__card">
                                <div class="is-favorite"></div>

                                <div class="message">32</div>

                                <div class="status recently__online"></div>

                                <div class="ava">
                                    <img src="/assets/img/ava/img01.jpg" alt="" class="" style="width: 100%">
                                </div>

                                <div class="name">
                                    #nickname #nickname
                                </div>
                            </figure><!--b-user__card-->

                            <figure class="b-user__card">
                                <div class="is-favorite"></div>

                                <div class="message"></div>

                                <div class="status offline"></div>

                                <div class="ava">
                                    <img src="/assets/img/ava/img01.jpg" alt="" class="" style="width: 100%">
                                </div>

                                <div class="name">
                                    #nickname #nickname
                                </div>
                            </figure><!--b-user__card-->

                            <figure class="b-user__card">
                                <div class="is-favorite"></div>

                                <div class="message">3</div>

                                <div class="status currently__online"></div>

                                <div class="ava">
                                    <img src="/assets/img/ava/img01.jpg" alt="" class="" style="width: 100%">
                                </div>

                                <div class="name">
                                    #nickname #nickname
                                </div>
                            </figure><!--b-user__card-->

                            <figure class="b-user__card">
                                <div class="is-favorite"></div>

                                <div class="message">32</div>

                                <div class="status recently__online"></div>

                                <div class="ava">
                                    <img src="/assets/img/ava/img01.jpg" alt="" class="" style="width: 100%">
                                </div>

                                <div class="name">
                                    #nickname #nickname
                                </div>
                            </figure><!--b-user__card-->

                            <figure class="b-user__card">
                                <div class="is-favorite"></div>

                                <div class="message"></div>

                                <div class="status offline"></div>

                                <div class="ava">
                                    <img src="/assets/img/ava/img01.jpg" alt="" class="" style="width: 100%">
                                </div>

                                <div class="name">
                                    #nickname #nickname
                                </div>
                            </figure><!--b-user__card-->

                            <figure class="b-user__card">
                                <div class="is-favorite"></div>

                                <div class="message">3</div>

                                <div class="status currently__online"></div>

                                <div class="ava">
                                    <img src="/assets/img/ava/img01.jpg" alt="" class="" style="width: 100%">
                                </div>

                                <div class="name">
                                    #nickname #nickname
                                </div>
                            </figure><!--b-user__card-->

                            <figure class="b-user__card">
                                <div class="is-favorite"></div>

                                <div class="message">32</div>

                                <div class="status recently__online"></div>

                                <div class="ava">
                                    <img src="/assets/img/ava/img01.jpg" alt="" class="" style="width: 100%">
                                </div>

                                <div class="name">
                                    #nickname #nickname
                                </div>
                            </figure><!--b-user__card-->

                            <figure class="b-user__card">
                                <div class="is-favorite"></div>

                                <div class="message"></div>

                                <div class="status offline"></div>

                                <div class="ava">
                                    <img src="/assets/img/ava/img01.jpg" alt="" class="" style="width: 100%">
                                </div>

                                <div class="name">
                                    #nickname #nickname
                                </div>
                            </figure><!--b-user__card-->
                        </div><!--w-card__row-->
                    </div><!--w-page__content-->
                </div><!--b-page-->
            </div><!--w-pages-->

            <div class="w-toolbar">
                <ul class="b-toolbar">
                    <li class="active">
                        <a href="#" class="icon discover"></a>
                    </li>
                    <li>
                        <a href="#" class="icon message">
                            <span class="incomming"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icon profile"></a>
                    </li>
                </ul><!--b-toolbar-->
            </div><!--w-toolbar-->
        </div><!--w-view-->
    </div><!--w-views-->
</div><!--w-root-->