<div class="w-content">
    <div class="b-content">
        <div class="w-login__content">
            <div class="w-title title-bar">
                <div class="title-bar-left">
                    <button class="b-menu-icon button" type="button">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="text">
                    Login
                </div>

                <div class="title-bar-right"></div>
            </div>
            <br>

            <div class="w-form__text row">
                <div class="small-12 columns text-center">
                    Login with your email and password
                </div>
            </div><!--w-form__text-->

            <form data-abide novalidate>
                <div data-abide-error class="alert callout" style="display: none;">
                    <p class="text-center">
                        <i class="fi-alert"></i> The username or password you have entered is incorrect
                    </p>
                    <p class="text-center">
                        Not a member yet? Please register <a href="register.html">here</a>
                    </p>
                    <p class="text-center">
                        Forgot your password? Recover it <a href="recover.html">here</a>
                    </p>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label>
                            <input type="text" placeholder="Email" required pattern="email">

                            <span class="form-error">
                          Yo, you had better fill this out, it's required.
                        </span>
                        </label>
                    </div>

                    <div class="small-12 columns">
                        <label>
                            <input type="password" id="password" placeholder="Password" required >

                            <span class="form-error">
                          I'm required!
                        </span>
                        </label>
                    </div>
                </div><!--row-->

                <div class="row">
                    <fieldset class="w-checkbox small-12 columns">
                        <input id="checkbox1" type="checkbox">
                        <label for="checkbox1">Remember me</label>
                    </fieldset><!--w-checkbox-->

                    <fieldset class="small-12 columns">
                        <button class="b-btn b-btn__default button expanded" type="submit" value="Submit">Log In</button>
                    </fieldset>
                </div>
            </form>
        </div>
    </div><!--b-content-->
</div><!--w-content-->