<div class="w-root">
    <div class="w-views">
        <div class="w-view">
            <div class="w-navbar">
                <div class="b-navbar no-padding centered">
                    <ul class="b-tabs__menu">
                        <li class="active"><a href="#">Info</a></li>
                        <li><a href="#">Stats</a></li>
                        <li><a href="#">Photos</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul><!--b-tabs__menu-->
                </div><!--b-navbar-->
            </div><!--w-navbar-->

            <div class="w-pages">
                <div class="b-page">
                    <div class="w-page__content">
                        <div class="b-box">
                            <div class="row">
                                <div class="small-12 columns">
                                    <h4 class="b-regular__header">Display Name</h4>

                                    <ul class="b-list__block">
                                        <li>
                                            <a href="#" class="item-link item-content with-border">
                                                <div class="item-after text-bold">
                                                    Some Random name
                                                </div>
                                            </a>
                                        </li>
                                    </ul><!--b-list__block-->

                                    <h4 class="b-regular__header">
                                        Date of Birth
                                    </h4>

                                    <ul class="b-list__block">
                                        <li>
                                            <a href="#" class="item-link item-content with-border">
                                                <div class="item-after text-bold">
                                                    <input class="unstyled-select" type="date">
                                                </div>
                                            </a>
                                        </li>
                                    </ul><!--b-list__block-->

                                    <h4 class="b-regular__header">
                                        Location
                                    </h4>

                                    <ul class="b-list__block">
                                        <li>
                                            <a href="#" class="item-link item-content">
                                                <div class="item-after text-bold">
                                                    Torstrasse 37, Berlin, Germany
                                                    (2nd line if needed)
                                                </div>
                                            </a>
                                        </li>
                                    </ul><!--b-list__block-->

                                    <div id="map" class="w-map">
                                        map map map
                                    </div>

                                    <h4 class="b-header">
                                        Support
                                    </h4>

                                    <ul class="b-list__block">
                                        <li>
                                            <a href="#" class="item-link item-content">
                                                <div class="item-after text-italic">
                                                    Write us for Help, Suggestions & more
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="item-link item-content">
                                                <div class="item-after text-italic">
                                                    Terms, Privacy Statement, Imprint
                                                </div>
                                            </a>
                                        </li>
                                    </ul><!--b-list__block-->
                                </div><!--col-->
                            </div><!--row-->
                        </div>
                    </div><!--b-login__page-->
                </div><!--b-page-->
            </div><!--w-pages-->

            <div class="w-toolbar">
                <ul class=  "b-toolbar">
                    <li>
                        <a href="#" class="icon discover"></a>
                    </li>
                    <li>
                        <a href="#" class="icon message">
                            <span class="incomming"></span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#" class="icon profile"></a>
                    </li>
                </ul><!--b-toolbar-->
            </div><!--w-toolbar-->
        </div><!--w-view-->
    </div><!--w-views-->
</div><!--w-root-->