<div class="w-root">
    <div class="w-views">
        <div class="w-view">
            <div class="w-navbar">
                <div class="b-navbar centered">
                    <div class="navbar-left">
                        <button class="b-btn__icon" type="button">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </button>
                    </div>

                    <div class="text small__text">
                        1 of 11
                    </div>

                    <div class="navbar-right"></div>
                </div><!--b-navbar-->
            </div><!--w-navbar-->

            <div class="w-pages">
                <div class="b-page no-toolbar">
                    <div class="w-page__content">
                        <div class="w-swiper swiper-container">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <div class="b-profile__photo">
                                        <img src="https://placeimg.com/640/480/any" alt="" class="">
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="b-profile__photo">
                                        <img src="https://placeimg.com/640/480/any" alt="" class="">
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="b-profile__photo">
                                        <img src="https://placeimg.com/640/480/any" alt="" class="">
                                    </div>
                                </div>
                            </div>
                            <!-- If we need pagination -->
                            <!--<div class="swiper-pagination"></div>-->

                            <!-- If we need navigation buttons -->
                            <!--<div class="swiper-button-prev"></div>-->
                            <!--<div class="swiper-button-next"></div>-->

                            <!-- If we need scrollbar -->
                            <!--<div class="swiper-scrollbar"></div>-->

                            <div class="w-slider__controls">
                                <button class="b-btn b-btn__default button expanded">Make Photo private</button>
                                <button class="b-btn b-btn__inactive button expanded">This is your Profile Picture</button>
                                <button class="b-btn b-btn__color button expanded">Delete Photo</button>
                            </div><!--w-slider__controls-->
                        </div><!--swiper-container-->
                    </div><!--b-login__page-->
                </div><!--b-page-->
            </div><!--w-pages-->
        </div><!--w-view-->
    </div><!--w-views-->
</div><!--w-root-->



<!--<div class="w-content">-->
    <!--<div class="b-content">-->
        <!--<div class="w-title fixed title-bar">-->
            <!--<div class="title-bar-left">-->
                <!--<button class="b-btn__icon" type="button">-->
                    <!--<i class="fa fa-angle-left" aria-hidden="true"></i>-->
                <!--</button>-->
            <!--</div>-->

            <!--<div class="small__text">-->
                <!--1 of 11-->
            <!--</div>-->

            <!--<div class="title-bar-right"></div>-->
        <!--</div>&lt;!&ndash;w-title&ndash;&gt;-->

        <!--<div class="page-content no-toolbar">-->

        <!--</div>&lt;!&ndash;page-content&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->

