<div class="w-root">
    <div class="w-views">
        <div class="w-view">
            <div class="w-navbar">
                <div class="b-navbar no-padding centered">
                    <ul class="b-tabs__menu">
                        <li><a href="#">Info</a></li>
                        <li class="active"><a href="#">Stats</a></li>
                        <li><a href="#">Photos</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul><!--b-tabs__menu-->
                </div><!--b-navbar-->
            </div><!--w-navbar-->

            <div class="w-pages">
                <div class="b-page">
                    <div class="w-page__content">
                        <div class="b-box">
                            <div class="row">
                                <div class="small-12 columns">
                                    <h4 class="b-regular__header">About me</h4>

                                    <ul class="b-list__block">
                                        <li>
                                            <a href="#" class="item-link item-content with-border">
                                                <div class="item-after text-wrap text-bold">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur assumenda atque aut corporis cupiditate dignissimos enim, esse excepturi expedita laboriosam laudantium molestiae nemo porro rerum sapiente sed temporibus ullam.
                                                </div>
                                            </a>
                                        </li>
                                    </ul><!--b-list__block-->

                                    <h4 class="b-regular__header">Tags</h4>

                                    <ul class="b-list__block">
                                        <li>
                                            <a href="#" class="item-link item-content with-border">
                                                <span class="item-after">
                                                    <div class="w-tags">
                                                        <span class="b-label main label">
                                                            <!--<i class="icon fa fa-times"></i>-->
                                                            # tag 1
                                                        </span>

                                                        <span class="b-label main label">
                                                            <!--<i class="icon fa fa-times"></i>-->
                                                            # tag long
                                                        </span>

                                                        <span class="b-label main label">
                                                            <!--<i class="icon fa fa-times"></i>-->
                                                            # tag tag
                                                        </span>
                                                    </div><!--w-tags-->
                                                </span>
                                            </a>
                                        </li>
                                    </ul><!--b-list__block-->

                                    <ul class="b-list__block">
                                        <li>
                                            <div class="item-content">
                                                <span class="item-title">Height</span>

                                                <div class="item-after with-title">
                                                    <select class="unstyled-select" name="" id="">
                                                        <option value="">180 cm</option>
                                                        <option value="">180 cm</option>
                                                        <option value="">180 cm</option>
                                                        <option value="">180 cm</option>
                                                        <option value="">180 cm</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="item-content">
                                                <span class="item-title">Weight</span>

                                                <div class="item-after with-title">
                                                    <select class="unstyled-select" name="" id="">
                                                        <option value="">75 kg</option>
                                                        <option value="">75 kg</option>
                                                        <option value="">75 kg</option>
                                                        <option value="">75 kg</option>
                                                        <option value="">75 kg</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="item-content">
                                                <span class="item-title">Body</span>

                                                <div class="item-after with-title">
                                                    <select class="unstyled-select" name="" id="">
                                                        <option value="">Average</option>
                                                        <option value="">Average</option>
                                                        <option value="">Average</option>
                                                        <option value="">Average</option>
                                                        <option value="">Average</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="item-content">
                                                <span class="item-title">Position</span>

                                                <div class="item-after with-title">
                                                    <select class="unstyled-select" name="" id="">
                                                        <option value="">Versatile</option>
                                                        <option value="">Versatile</option>
                                                        <option value="">Versatile</option>
                                                        <option value="">Versatile</option>
                                                        <option value="">Versatile</option>
                                                        <option value="">Versatile</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="item-content">
                                                <span class="item-title">Penis</span>

                                                <div class="item-after with-title">
                                                    <select class="unstyled-select" name="" id="">
                                                        <option value="">L</option>
                                                        <option value="">L</option>
                                                        <option value="">L</option>
                                                        <option value="">L</option>
                                                        <option value="">L</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="item-content">
                                                <span class="item-title">HIV</span>

                                                <div class="item-after with-title">
                                                    <select class="unstyled-select" name="" id="">
                                                        <option value="">PrEP</option>
                                                        <option value="">PrEP</option>
                                                        <option value="">PrEP</option>
                                                        <option value="">PrEP</option>
                                                        <option value="">PrEP</option>
                                                        <option value="">PrEP</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="item-content">
                                                <span class="item-title">Drugs</span>

                                                <div class="item-after with-title">
                                                    <select class="unstyled-select" name="" id="">
                                                        <option value="">Socially</option>
                                                        <option value="">Socially</option>
                                                        <option value="">Socially</option>
                                                        <option value="">Socially</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                    </ul><!--b-list__block-->
                                </div><!--col-->
                            </div><!--row-->
                        </div>
                    </div><!--b-login__page-->
                </div><!--b-page-->
            </div><!--w-pages-->

            <div class="w-toolbar">
                <ul class="b-toolbar">
                    <li>
                        <a href="#" class="icon discover"></a>
                    </li>
                    <li>
                        <a href="#" class="icon message">
                            <span class="incomming"></span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#" class="icon profile"></a>
                    </li>
                </ul><!--b-toolbar-->
            </div><!--w-toolbar-->
        </div><!--w-view-->
    </div><!--w-views-->
</div><!--w-root-->



<!--<div class="w-content">-->
    <!--<div class="b-content">-->
        <!--<div class="w-title fixed title-bar">-->
            <!--<ul class="b-title__menu">-->
                <!--<li><a href="#">Info</a></li>-->
                <!--<li class="active"><a href="#">Stats</a></li>-->
                <!--<li><a href="#">Photos</a></li>-->
                <!--<li><a href="#">Settings</a></li>-->
            <!--</ul>-->
        <!--</div>&lt;!&ndash;w-title&ndash;&gt;-->

        <!--<div class="page-content">-->
            <!--<div class="row">-->
                <!--<div class="small-12 columns">-->
                    <!--<h4>About me</h4>-->

                    <!--<ul class="b-list__block">-->
                        <!--<li>-->
                            <!--<a href="#" class="item-link item-content with-border">-->
                                <!--<span class="item-after">-->
                                    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur assumenda atque aut corporis cupiditate dignissimos enim, esse excepturi expedita laboriosam laudantium molestiae nemo porro rerum sapiente sed temporibus ullam.-->
                                <!--</span>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>&lt;!&ndash;b-list__block&ndash;&gt;-->

                    <!--<h4>Tags</h4>-->

                    <!--<ul class="b-list__block">-->
                        <!--<li>-->
                            <!--<a href="#" class="item-link item-content with-border">-->
                        <!--<span class="item-after">-->
                            <!--<div class="w-tags">-->
                                <!--<span class="b-label label primary">-->
                                    <!--<i class="icon fa fa-times"></i>-->
                                    <!--#Tags-->
                                <!--</span>-->

                                <!--<span class="b-label label primary">-->
                                    <!--<i class="icon fa fa-times"></i>-->
                                    <!--#Tags-->
                                <!--</span>-->
                            <!--</div>&lt;!&ndash;w-tags&ndash;&gt;-->
                        <!--</span>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>&lt;!&ndash;b-list__block&ndash;&gt;-->

                    <!--<ul class="b-list__block">-->
                        <!--<li>-->
                            <!--<div class="item-content">-->
                                <!--<span class="item-title">Height</span>-->

                                <!--<div class="item-after with-title">-->
                                    <!--<select class="unstyled-select" name="" id="">-->
                                        <!--<option value="">180 cm</option>-->
                                        <!--<option value="">180 cm</option>-->
                                        <!--<option value="">180 cm</option>-->
                                        <!--<option value="">180 cm</option>-->
                                        <!--<option value="">180 cm</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->

                        <!--<li>-->
                            <!--<div class="item-content">-->
                                <!--<span class="item-title">Weight</span>-->

                                <!--<div class="item-after with-title">-->
                                    <!--<select class="unstyled-select" name="" id="">-->
                                        <!--<option value="">75 kg</option>-->
                                        <!--<option value="">75 kg</option>-->
                                        <!--<option value="">75 kg</option>-->
                                        <!--<option value="">75 kg</option>-->
                                        <!--<option value="">75 kg</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->

                        <!--<li>-->
                            <!--<div class="item-content">-->
                                <!--<span class="item-title">Body</span>-->

                                <!--<div class="item-after with-title">-->
                                    <!--<select class="unstyled-select" name="" id="">-->
                                        <!--<option value="">Average</option>-->
                                        <!--<option value="">Average</option>-->
                                        <!--<option value="">Average</option>-->
                                        <!--<option value="">Average</option>-->
                                        <!--<option value="">Average</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->

                        <!--<li>-->
                            <!--<div class="item-content">-->
                                <!--<span class="item-title">Position</span>-->

                                <!--<div class="item-after with-title">-->
                                    <!--<select class="unstyled-select" name="" id="">-->
                                        <!--<option value="">Versatile</option>-->
                                        <!--<option value="">Versatile</option>-->
                                        <!--<option value="">Versatile</option>-->
                                        <!--<option value="">Versatile</option>-->
                                        <!--<option value="">Versatile</option>-->
                                        <!--<option value="">Versatile</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->

                        <!--<li>-->
                            <!--<div class="item-content">-->
                                <!--<span class="item-title">Penis</span>-->

                                <!--<div class="item-after with-title">-->
                                    <!--<select class="unstyled-select" name="" id="">-->
                                        <!--<option value="">L</option>-->
                                        <!--<option value="">L</option>-->
                                        <!--<option value="">L</option>-->
                                        <!--<option value="">L</option>-->
                                        <!--<option value="">L</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->

                        <!--<li>-->
                            <!--<div class="item-content">-->
                                <!--<span class="item-title">HIV</span>-->

                                <!--<div class="item-after with-title">-->
                                    <!--<select class="unstyled-select" name="" id="">-->
                                        <!--<option value="">PrEP</option>-->
                                        <!--<option value="">PrEP</option>-->
                                        <!--<option value="">PrEP</option>-->
                                        <!--<option value="">PrEP</option>-->
                                        <!--<option value="">PrEP</option>-->
                                        <!--<option value="">PrEP</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->

                        <!--<li>-->
                            <!--<div class="item-content">-->
                                <!--<span class="item-title">Drugs</span>-->

                                <!--<div class="item-after with-title">-->
                                    <!--<select class="unstyled-select" name="" id="">-->
                                        <!--<option value="">Socially</option>-->
                                        <!--<option value="">Socially</option>-->
                                        <!--<option value="">Socially</option>-->
                                        <!--<option value="">Socially</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>&lt;!&ndash;b-list__block&ndash;&gt;-->
                <!--</div>&lt;!&ndash;col&ndash;&gt;-->
            <!--</div>&lt;!&ndash;row&ndash;&gt;-->
        <!--</div>&lt;!&ndash;page-content&ndash;&gt;-->

        <!--<div class="w-toolbar">-->
            <!--<ul class="b-toolbar">-->
                <!--<li class="">-->
                    <!--<a href="#">-->
                        <!--<i class="icon fa fa-bullseye" aria-hidden="true"></i>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<i class="icon fa fa-commenting-o" aria-hidden="true">-->
                            <!--&lt;!&ndash;<span class="incomming"></span>&ndash;&gt;-->
                        <!--</i>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="active">-->
                    <!--<a href="#">-->
                        <!--<i class="icon fa fa-user" aria-hidden="true"></i>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>&lt;!&ndash;b-toolbar&ndash;&gt;-->
        <!--</div>&lt;!&ndash;w-toolbar&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->

