<div class="w-root">
    <div class="w-views">
        <div class="w-view">
            <div class="w-navbar">
                <div class="b-navbar centered">
                    <div class="navbar-left">
                        <button class="b-btn__icon" type="button">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </button>
                    </div>

                    <div class="text"></div>

                    <div class="navbar-right">
                        <div class="position__relative">
                            <button class="b-btn__icon" type="button" data-toggle="filter">
                                <!--<i class="fa fa-ban" aria-hidden="true"></i>-->
                                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            </button>

                            <ul class="b-dropdown__list dropdown-pane float-right" id="filter" data-dropdown>
                                <li>
                                    <button class="b-btn b-btn__default button expanded">
                                        Block user
                                    </button>
                                    <button class="b-btn b-btn__default button expanded">
                                        Report user
                                    </button>
                                    <button class="b-btn b-btn__default button expanded">
                                        Cancel
                                    </button>
                                </li>
                            </ul>
                        </div><!--position__relative-->
                    </div>
                </div><!--b-navbar-->
            </div><!--w-navbar-->

            <div class="w-pages">
                <div class="b-page no-toolbar">
                    <div class="w-page__content">
                        <div class="w-user">
                            <img class="ava" src="/assets/img/img01.jpg" alt="">

                            <a href="#" class="b-chat__link">
                                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                <span class="incomming">3</span>
                            </a>

                            <div class="info">
                                <div class="w-name__row">
                                    <button class="b-btn__icon favorite"></button>

                                    <div class="name">Nickname, 35</div>
                                </div><!--w-name__row-->

                                <div class="w-status__row">
                                    <div class="b-status currently__online"><!--currently__online recently__online-->
                                        <div class="media"></div>
                                        <div class="text">Online now</div>
                                    </div><!--b-status-->

                                    <div class="distance">356 m away</div>
                                </div><!--w-status__row-->
                            </div><!--info-->
                        </div><!--w-user-->

                        <div class="row">
                            <div class="small-12 columns">
                                <div class="w-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam aut ea, excepturi facere, hic ipsa laborum, libero mollitia necessitatibus.
                                </div><!--w-text-->
                                <hr class="b-divider">
                                <div class="w-tags">
                                    <span class="label main">#Tags</span>
                                    <span class="label highlight"># tag highlight</span>
                                </div><!--w-tags-->
                                <hr class="b-divider">

                                <h4>About</h4>
                                <!--<ul class="b-stats__list">-->
                                    <!--<li>-->
                                        <!--<i class="icon fa fa-user" aria-hidden="true"></i>-->
                                        <!--Height: 182cm, Weight: 75kg, Body: Slim-->
                                    <!--</li>-->

                                    <!--<li>-->
                                        <!--<i class="icon fa fa-question-circle" aria-hidden="true"></i>-->
                                        <!--Position: Versatile, Penis: L-->
                                    <!--</li>-->

                                    <!--<li>-->
                                        <!--<i class="icon fa fa-bolt" aria-hidden="true"></i>-->
                                        <!--HIV: PReP, Drugs: no drugs-->
                                    <!--</li>-->
                                <!--</ul>&lt;!&ndash;b-stats__list&ndash;&gt;-->
                                <ul class="b-stats__list">
                                    <li>
                                        Height: 182cm, Weight: 75kg, Body: Slim
                                    </li>

                                    <li>
                                        Position: Versatile, Penis: L
                                    </li>

                                    <li>
                                        HIV: PReP, Drugs: no drugs
                                    </li>
                                </ul><!--b-stats__list-->
                                <hr class="b-divider">

                                <h4>Photos</h4>

                                <div class="w-photos row">
                                    <div class="small-3 columns"><img src="https://placeimg.com/200/200/tech" alt=""></div>
                                    <div class="small-3 columns"><img src="https://placeimg.com/200/200/tech" alt=""></div>
                                    <div class="small-3 columns"><img src="https://placeimg.com/200/200/tech" alt=""></div>
                                    <div class="small-3 columns"><img src="https://placeimg.com/200/200/tech" alt=""></div>
                                </div><!--w-photos-->
                            </div><!--col-->
                        </div>
                    </div><!--b-login__page-->
                </div><!--b-page-->
            </div><!--w-pages-->
        </div><!--w-view-->
    </div><!--w-views-->
</div><!--w-root-->



<!--<div class="w-content">-->
    <!--<div class="b-content">-->
        <!--<div class="height100">-->
            <!--<div class="w-title fixed title-bar">-->
                <!--<div class="title-bar-left">-->
                    <!--<button class="b-btn__icon" type="button">-->
                        <!--<i class="fa fa-angle-left" aria-hidden="true"></i>-->
                    <!--</button>-->
                <!--</div>-->

                <!--<div class="title-bar-right">-->
                    <!--<div class="position__relative">-->
                        <!--<button class="b-btn__icon" type="button" data-toggle="filter">-->
                            <!--<i class="fa fa-ban" aria-hidden="true"></i>-->
                        <!--</button>-->

                        <!--<ul class="b-dropdown__list dropdown-pane float-right" id="filter" data-dropdown>-->
                            <!--<li>-->
                                <!--<button class="b-btn b-btn__default button expanded">-->
                                    <!--Block user-->
                                <!--</button>-->
                                <!--<button class="b-btn b-btn__default button expanded">-->
                                    <!--Report user-->
                                <!--</button>-->
                                <!--<button class="b-btn b-btn__default button expanded">-->
                                    <!--Cancel-->
                                <!--</button>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>&lt;!&ndash;position__relative&ndash;&gt;-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;w-title&ndash;&gt;-->

            <!--<div class="page-content no-toolbar">-->
                <!--<div class="w-user">-->
                    <!--<img class="ava" src="https://placeimg.com/400/600/people" alt="">-->

                    <!--<a href="#" class="b-chat__link">-->
                        <!--<i class="fa fa-commenting-o" aria-hidden="true"></i>-->
                        <!--<span class="incomming">3</span>-->
                    <!--</a>-->

                    <!--<div class="info">-->
                        <!--<div class="w-name__row">-->
                            <!--<button class="b-btn__icon favorite"></button>-->

                            <!--<div class="name">#nickname nickname</div>-->

                            <!--<div class="age">Age: 18</div>-->
                        <!--</div>&lt;!&ndash;w-name__row&ndash;&gt;-->

                        <!--<div class="w-status__row">-->
                            <!--<div class="b-status currently__online">&lt;!&ndash;currently__online recently__online&ndash;&gt;-->
                                <!--<div class="media"></div>-->
                                <!--<div class="text">Online now</div>-->
                            <!--</div>&lt;!&ndash;b-status&ndash;&gt;-->

                            <!--<div class="distance">356 m away</div>-->
                        <!--</div>&lt;!&ndash;w-status__row&ndash;&gt;-->
                    <!--</div>&lt;!&ndash;info&ndash;&gt;-->
                <!--</div>&lt;!&ndash;w-user&ndash;&gt;-->

                <!--<div class="row">-->
                    <!--<div class="small-12 columns">-->
                        <!--<div class="w-text">-->
                            <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam aut ea, excepturi facere, hic ipsa laborum, libero mollitia necessitatibus.-->
                        <!--</div>&lt;!&ndash;w-text&ndash;&gt;-->
                        <!--<hr class="b-divider">-->
                        <!--<div class="w-tags">-->
                            <!--<span class="label primary">#Tags</span>-->
                            <!--<span class="label primary">#Tags</span>-->
                            <!--<span class="label primary">#Tags</span>-->
                            <!--<span class="label primary">#Tags</span>-->
                        <!--</div>&lt;!&ndash;w-tags&ndash;&gt;-->
                        <!--<hr class="b-divider">-->

                        <!--<h4>About</h4>-->
                        <!--<ul class="b-stats__list">-->
                            <!--<li>-->
                                <!--<i class="icon fa fa-user" aria-hidden="true"></i>-->
                                <!--Height: 182cm, Weight: 75kg, Body: Slim-->
                            <!--</li>-->

                            <!--<li>-->
                                <!--<i class="icon fa fa-question-circle" aria-hidden="true"></i>-->
                                <!--Position: Versatile, Penis: L-->
                            <!--</li>-->

                            <!--<li>-->
                                <!--<i class="icon fa fa-bolt" aria-hidden="true"></i>-->
                                <!--HIV: PReP, Drugs: no drugs-->
                            <!--</li>-->
                        <!--</ul>&lt;!&ndash;b-stats__list&ndash;&gt;-->
                        <!--<hr class="b-divider">-->

                        <!--<h4>Photos</h4>-->

                        <!--<div class="w-photos row">-->
                            <!--<div class="small-3 columns"><img src="https://placeimg.com/200/200/tech" alt=""></div>-->
                            <!--<div class="small-3 columns"><img src="https://placeimg.com/200/200/tech" alt=""></div>-->
                            <!--<div class="small-3 columns"><img src="https://placeimg.com/200/200/tech" alt=""></div>-->
                            <!--<div class="small-3 columns"><img src="https://placeimg.com/200/200/tech" alt=""></div>-->
                        <!--</div>&lt;!&ndash;w-photos&ndash;&gt;-->
                    <!--</div>&lt;!&ndash;col&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->


        <!--</div>-->
    <!--</div>-->
<!--</div>-->

