<div class="w-root">
    <div class="w-views">
        <div class="w-view">
            <div class="w-navbar">
                <div class="b-navbar no-padding centered">
                    <ul class="b-tabs__menu">
                        <li><a href="#">Info</a></li>
                        <li><a href="#">Stats</a></li>
                        <li class="active"><a href="#">Photos</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul><!--b-tabs__menu-->
                </div><!--b-navbar-->
            </div><!--w-navbar-->

            <div class="w-pages">
                <div class="b-page">
                    <div class="w-page__content">
                        <div class="row">
                            <div class="small-12 columns">
                                <ul class="b-stats__list colorful">
                                    <li>
                                        <img class="icon" src="/assets/img/icons/icon09.png" aria-hidden="true">
                                        Your profile picture
                                    </li>

                                    <li>
                                        <img src="/assets/img/icons/icon10.png" class="icon" aria-hidden="true">
                                        Public pictures (you can select 2 more)
                                    </li>
                                </ul><!--b-stats__list-->

                                <hr class="b-divider">

                                <div class="w-user__photos">
                                    <button class="b-btn__photo-add user__photos-width">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button><!--b-btn__photo-add-->

                                    <figure class="b-user__photo user__photos-width">
                                        <!--<figcaption class="overlay">-->
                                            <!--<i class="icon__profile fa fa-user" aria-hidden="true"></i>-->
                                            <!--<i class="icon__public fa fa-eye" aria-hidden="true"></i>-->
                                        <!--</figcaption>-->

                                        <img src="/assets/img/icons/icon10.png" alt="" class="is__profile-photo">

                                        <img src="/assets/img/ava/img02.jpg" alt="">
                                    </figure>

                                    <figure class="b-user__photo user__photos-width">
                                        <img src="/assets/img/icons/icon09.png" alt="" class="is__public-photo">

                                        <img src="/assets/img/ava/img02.jpg" alt="">
                                    </figure>

                                    <figure class="b-user__photo user__photos-width">
                                        <img src="/assets/img/ava/img02.jpg" alt="">
                                    </figure>

                                    <figure class="b-user__photo user__photos-width">
                                        <img src="/assets/img/icons/icon10.png" alt="" class="is__profile-photo">

                                        <img src="/assets/img/ava/img02.jpg" alt="">
                                    </figure>

                                    <figure class="b-user__photo user__photos-width">
                                        <img src="/assets/img/ava/img02.jpg" alt="">
                                    </figure>

                                    <figure class="b-user__photo user__photos-width">
                                        <img src="/assets/img/ava/img02.jpg" alt="">
                                    </figure>

                                    <figure class="b-user__photo user__photos-width">
                                        <img src="/assets/img/icons/icon09.png" alt="" class="is__public-photo">

                                        <img src="/assets/img/ava/img02.jpg" alt="">
                                    </figure>
                                </div><!--w-user__photos-->
                            </div><!--col-->
                        </div><!--row-->
                    </div><!--b-login__page-->
                </div><!--b-page-->
            </div><!--w-pages-->

            <div class="w-toolbar">
                <ul class="b-toolbar">
                    <li>
                        <a href="#" class="icon discover"></a>
                    </li>
                    <li>
                        <a href="#" class="icon message">
                            <span class="incomming"></span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#" class="icon profile"></a>
                    </li>
                </ul><!--b-toolbar-->
            </div><!--w-toolbar-->
        </div><!--w-view-->
    </div><!--w-views-->
</div><!--w-root-->



<!--<div class="w-content">-->
    <!--<div class="b-content">-->
        <!--<div class="w-title fixed title-bar">-->
            <!--<ul class="b-title__menu">-->
                <!--<li><a href="#">Info</a></li>-->
                <!--<li><a href="#">Stats</a></li>-->
                <!--<li class="active"><a href="#">Photos</a></li>-->
                <!--<li><a href="#">Settings</a></li>-->
            <!--</ul>-->
        <!--</div>&lt;!&ndash;w-title&ndash;&gt;-->

        <!--<div class="page-content">-->
            <!---->
        <!--</div>&lt;!&ndash;page-content&ndash;&gt;-->

        <!--<div class="w-toolbar">-->
            <!--<ul class="b-toolbar">-->
                <!--<li class="">-->
                    <!--<a href="#">-->
                        <!--<i class="icon fa fa-bullseye" aria-hidden="true"></i>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<i class="icon fa fa-commenting-o" aria-hidden="true">-->
                            <!--&lt;!&ndash;<span class="incomming"></span>&ndash;&gt;-->
                        <!--</i>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="active">-->
                    <!--<a href="#">-->
                        <!--<i class="icon fa fa-user" aria-hidden="true"></i>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>&lt;!&ndash;b-toolbar&ndash;&gt;-->
        <!--</div>&lt;!&ndash;w-toolbar&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->