<div class="w-root">
    <div class="w-views">
        <div class="w-view">
            <div class="w-navbar">
                <div class="b-navbar no-padding centered">
                    <ul class="b-tabs__menu">
                        <li><a href="#">Info</a></li>
                        <li><a href="#">Stats</a></li>
                        <li><a href="#">Photos</a></li>
                        <li class="active"><a href="#">Settings</a></li>
                    </ul><!--b-tabs__menu-->
                </div><!--b-navbar-->
            </div><!--w-navbar-->

            <div class="w-pages">
                <div class="b-page">
                    <div class="w-page__content">
                        <div class="b-box">
                            <div class="row">
                                <div class="small-12 columns">
                                    <h3 class="b-header">
                                        Account
                                    </h3><!--b-header-->

                                    <ul class="b-list__block">
                                        <li>
                                            <a href="#" class="item-link item-content">
                                                <div class="item-after">
                                                    Log out
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <div class="item-content">
                                                <div class="item-title">Email</div>

                                                <div class="item-after text-bold">
                                                    someone@whatever.com
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="item-content" data-open="change-password">
                                                <span class="item-title">
                                                    Password
                                                </span>

                                                <span class="item-after"></span>
                                            </div>
                                        </li>
                                    </ul><!--b-list__block-->

                                    <h3 class="b-header">
                                        Preferences
                                    </h3><!--b-header-->

                                    <ul class="b-list__block">
                                        <li>
                                            <div class="item-content">
                                                <span class="item-title">Show age</span>

                                                <div class="item-after with-title">
                                                    <select class="unstyled-select" name="" id="">
                                                        <option value="">Yes</option>
                                                        <option value="">No</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-content">
                                                <span class="item-title">Language</span>

                                                <div class="item-after with-title">
                                                    <select class="unstyled-select" name="" id="">
                                                        <option value="">English</option>
                                                        <option value="">English</option>
                                                        <option value="">English</option>
                                                        <option value="">English</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-content">
                                                <span class="item-title">Unit System</span>

                                                <div class="item-after with-title">
                                                    <select class="unstyled-select" name="" id="">
                                                        <option value="">Metric</option>
                                                        <option value="">Metric</option>
                                                        <option value="">Metric</option>
                                                        <option value="">Metric</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                    </ul><!--b-list__block-->

                                    <h3 class="b-header">
                                        Reset
                                    </h3><!--b-header-->

                                    <ul class="b-list__block">
                                        <li>
                                            <a href="#" class="item-link item-content">
                                                <span class="item-title">Unblock all users</span>

                                                <span class="item-after"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="item-content" data-open="delete-profile">
                                                <span class="item-title">
                                                    Delete my profile
                                                </span>

                                                <span class="item-after"></span>
                                            </div>
                                        </li>
                                    </ul><!--b-list__block-->
                                </div><!--col-->
                            </div><!--row-->
                        </div><!--b-box-->
                    </div><!--b-login__page-->
                </div><!--b-page-->
            </div><!--w-pages-->

            <div class="w-toolbar">
                <ul class="b-toolbar">
                    <li>
                        <a href="#" class="icon discover"></a>
                    </li>
                    <li>
                        <a href="#" class="icon message">
                            <span class="incomming"></span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#" class="icon profile"></a>
                    </li>
                </ul><!--b-toolbar-->
            </div><!--w-toolbar-->
        </div><!--w-view-->
    </div><!--w-views-->
</div><!--w-root-->

<div class="w-form__reveal reveal" id="change-password" data-reveal>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <form class="w-form">
        <div class="row">
            <div class="small-12">
                <label>
                    <input type="text" placeholder="New password">
                </label>
            </div>
            <div class="small-12">
                <label>
                    <input type="text" placeholder="Repeat password">
                </label>
            </div>
        </div>

        <button type="button" class="b-btn b-btn__color button expanded">Save</button>
    </form>
</div>

<div class="w-form__reveal text-center reveal" id="delete-profile" data-reveal>
    <h3 class="title">Are you sure?</h3>

    <div class="row">
        <div class="small-6 columns">
            <a class="b-btn b-btn__color button expanded">Yes</a>
        </div>

        <div class="small-6 columns">
            <a class="b-btn b-btn__default button expanded" data-close>No</a>
        </div>
    </div>
</div>


<!--<div class="w-content">-->
    <!--<div class="b-content">-->
        <!--<div class="w-title fixed title-bar">-->

        <!--</div>&lt;!&ndash;w-title&ndash;&gt;-->

        <!--<div class="page-content">-->
            <!---->
        <!--</div>&lt;!&ndash;page-content&ndash;&gt;-->

        <!--<div class="w-toolbar">-->
            <!--<ul class="b-toolbar">-->
                <!--<li class="">-->
                    <!--<a href="#">-->
                        <!--<i class="icon fa fa-bullseye" aria-hidden="true"></i>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<i class="icon fa fa-commenting-o" aria-hidden="true">-->
                            <!--&lt;!&ndash;<span class="incomming"></span>&ndash;&gt;-->
                        <!--</i>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="active">-->
                    <!--<a href="#">-->
                        <!--<i class="icon fa fa-user" aria-hidden="true"></i>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>&lt;!&ndash;b-toolbar&ndash;&gt;-->
        <!--</div>&lt;!&ndash;w-toolbar&ndash;&gt;-->

        <!---->
    <!--</div>-->
<!--</div>-->

