<div class="w-root">
    <div class="w-views">
        <div class="w-view">
            <div class="w-navbar">
                <div class="b-navbar centered">
                    <div class="navbar-left">
                        <button class="b-btn__icon" type="button">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </button>
                    </div>

                    <div class="text">
                        Recover Password
                    </div>

                    <div class="navbar-right"></div>
                </div><!--b-navbar-->
            </div><!--w-navbar-->

            <div class="w-pages">
                <div class="b-page">
                    <div class="w-page__content">
                        <div class="row">
                            <div class="small-12 columns">
                                <div class="b-box">
                                    <form id="recover__form" data-abide novalidate>
                                        <div data-abide-error class="callout success" style="display: none;">
                                            <p class="text-center">
                                                <i class="fi-alert"></i> An email has been sent to ... with instructions to reset your password.
                                            </p>
                                        </div>
                                        <div class="row">
                                            <div class="small-12 columns">
                                                <label>
                                                    <input type="text" placeholder="Email" required pattern="email">

                                                    <span class="form-error">
                                                        Yo, you had better fill this out, it's required.
                                                    </span>
                                                </label>
                                            </div>
                                        </div><!--row-->

                                        <div class="row">
                                            <fieldset class="small-12 columns">
                                                <button class="b-btn b-btn__default button expanded" type="submit">
                                                    Recover password
                                                </button>
                                            </fieldset>
                                        </div>
                                    </form>
                                </div>
                            </div><!--col-->
                        </div><!--row-->
                    </div><!--b-login__page-->
                </div><!--b-page-->
            </div><!--w-pages-->
        </div><!--w-view-->
    </div><!--w-views-->
</div><!--w-root-->

