<div class="w-root">
    <div class="w-views">
        <div class="w-view">
            <div class="w-navbar">
                <div class="b-navbar no-padding centered">

                    <ul class="b-tabs__menu">
                        <li class="active">Step 1</li>
                        <li>Step 2</li>
                        <li>Ready</li>
                    </ul><!--b-tabs__menu-->
                </div><!--b-navbar-->
            </div><!--w-navbar-->

            <div class="w-pages">
                <div class="b-page">
                    <div class="b-register__page w-page__content">
                        <div class="row">
                            <div class="small-12 columns">
                                <div class="b-box">
                                    <div class="w-form__text text-center">
                                        Pick a cool nickname and <br>
                                        your (desired) date of birth
                                    </div><!--w-form__text-->

                                    <form data-abide novalidate>
                                        <div data-abide-error class="alert callout" style="display: none;">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A beatae harum illo incidunt, inventore ipsa, libero minima nostrum numquam, obcaecati officia omnis optio praesentium quasi quidem reprehenderit tempora unde vitae!
                                        </div>

                                        <div class="row">
                                            <div class="small-12 columns">
                                                <label>
                                                    <input type="text" placeholder="Nickname" autofocus required>

                                                    <span class="form-error">
                                                      Yo, you had better fill this out, it's required.
                                                    </span>
                                                </label>
                                            </div>

                                            <div class="small-12 columns">
                                                <label>
                                                    <input type="date" placeholder="Date of Birth" required >

                                                    <span class="form-error">
                                                      I'm required!
                                                    </span>
                                                </label>
                                            </div>
                                        </div><!--row-->

                                        <div class="row">
                                            <fieldset class="small-12 columns">
                                                <button class="b-btn b-btn__default big__font button expanded" type="submit" value="Submit">
                                                    Next...
                                                </button>
                                            </fieldset>
                                        </div>
                                    </form>
                                </div>
                            </div><!--col-->
                        </div><!--row-->
                    </div><!--b-login__page-->
                </div><!--b-page-->
            </div><!--w-pages-->
        </div><!--w-view-->
    </div><!--w-views-->
</div><!--w-root-->

