<div class="w-root">
    <div class="w-views">
        <div class="w-view">
            <div class="w-navbar">
                <div class="b-navbar no-padding centered">
                    <ul class="b-tabs__menu">
                        <li>Step 1</li>
                        <li class="active">Step 2</li>
                        <li>Ready</li>
                    </ul><!--b-tabs__menu-->
                </div><!--b-navbar-->
            </div><!--w-navbar-->

            <div class="w-pages">
                <div class="b-page">
                    <div class="b-register__page w-page__content">
                        <div class="row">
                            <div class="small-12 columns">
                                <div class="b-box">
                                    <div class="w-form__text text-center">
                                        Please enter your E-mail address and choose a password
                                    </div><!--w-form__text-->

                                    <form data-abide novalidate>
                                        <div data-abide-error class="alert callout" style="display: none;">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus distinctio dolorum eum expedita molestias nihil perspiciatis, placeat quod unde voluptate. Consequuntur deserunt eaque inventore magnam neque quae rerum ullam ut.s
                                        </div>

                                        <div class="row">
                                            <div class="small-12 columns">
                                                <label>
                                                    <input type="email" placeholder="E-mail" autofocus required>

                                                    <span class="form-error">
                                                      Yo, you had better fill this out, it's required.
                                                    </span>
                                                </label>
                                            </div>

                                            <div class="small-12 columns">
                                                <label>
                                                    <input type="password" id="password" placeholder="Password" required>

                                                    <span class="form-error">
                                                      I'm required!
                                                    </span>
                                                </label>
                                            </div>
                                        </div><!--row-->

                                        <div class="row">
                                            <fieldset class="small-12 columns">
                                                <button class="b-btn b-btn__default button expanded" type="submit">
                                                    Almost Finished...
                                                </button>
                                            </fieldset>
                                        </div>
                                    </form>
                                </div>
                            </div><!--col-->
                        </div><!--row-->
                    </div><!--b-login__page-->
                </div><!--b-page-->
            </div><!--w-pages-->
        </div><!--w-view-->
    </div><!--w-views-->
</div><!--w-root-->