<div class="w-root">
    <div class="w-views">
        <div class="w-view">
            <div class="w-navbar">
                <div class="b-navbar no-padding centered">
                    <ul class="b-tabs__menu">
                        <li>Step 1</li>
                        <li>Step 2</li>
                        <li class="active">Ready</li>
                    </ul><!--b-tabs__menu-->
                </div><!--b-navbar-->
            </div><!--w-navbar-->

            <div class="w-pages">
                <div class="b-page">
                    <div class="b-register__page w-page__content">
                        <div class="row">
                            <div class="small-12 columns">
                                <div class="b-box">
                                    <div class="w-form__text text-center">
                                        Add a photo so that
                                        the guys can see you!
                                    </div><!--w-form__text-->

                                    <div class="row">
                                        <div class="small-12 columns">
                                            <figure class="w-user__ava">
                                                <!--<i class="fa fa-user-plus" aria-hidden="true"></i>-->
                                                <img src="/assets/img/icons/icon14.png" alt="">
                                            </figure>

                                            <button class="b-btn b-btn__default button expanded">
                                                Add Photo
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="small-12 columns">
                                            <div class="text-right">
                                                <a href="#" class="b-skip__link">Skip...</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--col-->
                        </div><!--row-->
                    </div><!--b-login__page-->
                </div><!--b-page-->
            </div><!--w-pages-->
        </div><!--w-view-->
    </div><!--w-views-->
</div><!--w-root-->