<div class="w-root">
    <div class="w-views">
        <div class="w-view">
            <div class="w-navbar">
                <div class="b-navbar centered">
                    <div class="navbar-left">
                        <a href="#" class="b-logo"><img  src="/assets/img/logos/logo__main.png" alt=""></a>
                    </div>

                    <div class="text"></div>

                    <div class="navbarbar-right">
                        <div class="w-lang">
                            <button class="b-btn__lang" type="button" data-toggle="lang" style="margin:0;">
                                English
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </button>

                            <ul class="dropdown-pane float-right" id="lang" data-dropdown data-close-on-click="true">
                                <li><a href="#">German</a></li>
                                <li><a href="#">French</a></li>
                            </ul>
                        </div><!--w-lang-->
                    </div><!--title-bar-right-->
                </div><!--b-navbar-->
            </div><!--w-navbar-->

            <div class="w-pages">
                <div class="b-page">
                    <div class="b-login__page w-page__content">
                        <div class="row">
                            <div class="small-12 columns">
                                <h1 class="text-with__shadow text-center">
                                    An awesome headline
                                </h1>

                                <h2 class="text-with__shadow text-center">or two</h2>
                                <h2 class="text-with__shadow text-center">or three</h2>

                                <form class="w-login__form" data-abide novalidate>
                                    <div data-abide-error class="alert callout" style="display: none;">
                                        <p class="text-center">
                                            <i class="fi-alert"></i> The username or password you have entered is incorrect
                                        </p>
                                        <p class="text-center">
                                            Not a member yet? Please register <a href="register.html">here</a>
                                        </p>
                                        <p class="text-center">
                                            Forgot your password? Recover it <a href="recover.html">here</a>
                                        </p>
                                    </div>

                                    <div class="row">
                                        <div class="small-12 columns">
                                            <label>
                                                <input type="text" placeholder="Email" required pattern="email">

                                                <span class="form-error">
                                                  Yo, you had better fill this out, it's required.
                                                </span>
                                            </label>
                                        </div>

                                        <div class="small-12 columns">
                                            <label>
                                                <input type="password" id="password" placeholder="Password" required >

                                                <span class="form-error">
                                                  I'm required!
                                                </span>
                                            </label>
                                        </div>
                                    </div><!--row-->

                                    <div class="row">
                                        <fieldset class="w-checkbox small-12 columns">
                                            <input id="checkbox1" type="checkbox">
                                            <label for="checkbox1">Stay logged in?</label>
                                        </fieldset><!--w-checkbox-->

                                        <fieldset class="small-12 columns">
                                            <button class="b-btn b-btn__default button expanded" type="submit" value="Submit">Log In</button>
                                        </fieldset>
                                    </div>

                                    <p class="text-center">
                                        <a href="#">Forgot your password?</a>
                                        <!--Forgot your password? Recover it <a href="recover.html">here</a>-->
                                    </p>
                                </form><!--w-login__form-->

                                <div class="w-join">
                                    New to BareMate? <a href="#">Join Now!</a>
                                </div><!--w-join-->

                                <div class="b-pointer text-with__shadow text-center">
                                    What is BareMate? Find out more
                                </div><!--b-pointer-->

                                <div class="w-slider orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
                                    <ul class="orbit-container">
                                        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                                        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                                        <li class="is-active b-slide orbit-slide text-center">
                                            <img class="orbit-image" src="/assets/img/icons/icon01.png" alt="">
                                            <div class="header">USP #1</div><!--header-->
                                            <div class="caption">best product ever</div><!--caption-->
                                        </li>
                                        <li class="is-active b-slide orbit-slide text-center">
                                            <img class="orbit-image" src="/assets/img/icons/icon01.png" alt="">
                                            <div class="header">USP #1</div><!--header-->
                                            <div class="caption">best product ever</div><!--caption-->
                                        </li>
                                        <li class="is-active b-slide orbit-slide text-center">
                                            <img class="orbit-image" src="/assets/img/icons/icon01.png" alt="">
                                            <div class="header">USP #1</div><!--header-->
                                            <div class="caption">best product ever</div><!--caption-->
                                        </li>
                                    </ul>

                                    <nav class="w-orbit__bullets orbit-bullets">
                                        <button class="is-active" data-slide="0">
                                            <span class="show-for-sr">First slide details.</span>
                                            <span class="show-for-sr">Current Slide</span>
                                        </button>
                                        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                                        <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
                                    </nav><!--w-orbit__bullets-->
                                </div>
                            </div><!--col-->
                        </div><!--row-->

                        <ul class="b-footer__menu">
                            <li><a href="#">About Us </a></li>
                            <li><a href="#">Imprint</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Statement</a></li>
                        </ul><!--b-footer__menu-->
                    </div><!--b-login__page-->
                </div><!--b-page-->
            </div><!--w-pages-->
        </div><!--w-view-->
    </div><!--w-views-->
</div><!--w-root-->

<!--<div class="w-content">
    <div class="b-content">
        <div class="off-canvas-wrapper">
            <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
                <button class="close-button" aria-label="Close menu" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>

                <ul class="vertical menu">
                    <li><a href="#">Login/Logout</a></li>
                    <li><a href="#">Help &amp; Support</a></li>
                    <li><a href="#">Switch to German</a></li>
                </ul>

                <hr class="b-divider">

                <ul class="vertical menu">
                    <li><a href="#">Disclaimer</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Imprint</a></li>
                </ul>
            </div>off-canvas

            <div class="off-canvas-content" data-off-canvas-content>
                <div class="w-title fixed title-bar">
                    <div class="title-bar-left">
                        <button class="menu-icon" type="button" data-toggle="offCanvas"></button>
                        <span class="title-bar-title"></span>
                    </div>

                    <img class="b-logo" src="http://placehold.it/100x24/aa5a50/?text=Bare Mate" alt="">

                    <div class="title-bar-right">
                        <div class="w-lang">
                            <button class="b-btn__lang" type="button" data-toggle="lang" style="margin:0;">
                                English
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </button>

                            <ul class="dropdown-pane float-right" id="lang" data-dropdown data-close-on-click="true">
                                <li><a href="#">German</a></li>
                                <li><a href="#">French</a></li>
                            </ul>
                        </div>w-lang
                    </div>title-bar-right
                </div>w-title

                <div class="w-slider orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
                    <ul class="orbit-container">
                        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                        <li class="is-active orbit-slide">
                            <img class="orbit-image" src="https://placeimg.com/400/450/nature?t=1493791030462" alt="Space">
                        </li>
                        <li class="orbit-slide">
                            <img class="orbit-image" src="https://placeimg.com/400/450/nature?t=14937910302462" alt="Space">
                        </li>
                        <li class="orbit-slide">
                            <img class="orbit-image" src="https://placeimg.com/400/450/nature?t=1493791030462" alt="Space">
                        </li>
                    </ul>

                    <nav class="w-orbit__bullets orbit-bullets">
                        <button class="is-active" data-slide="0">
                            <span class="show-for-sr">First slide details.</span>
                            <span class="show-for-sr">Current Slide</span>
                        </button>
                        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                        <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
                    </nav>w-orbit__bullets
                </div>

                <div class="row">
                    <h1>or two
                        or three</h1>

                    <div class="small-12 columns">
                        <a class="b-btn b-btn__color button expanded" href="#">Register</a>
                        <a class="b-btn b-btn__default button expanded" href="#">Log In</a>
                    </div>
                </div>

            </div>
        </div>
    </div>b-content
</div>w-content-->

