.b-title__menu {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;

  .active {

    >a {
      font-weight:bold;
      text-decoration: underline;
    }
  }

  >li {

    >a {
      padding:2px 20px;
      color: $beige;
      font-weight:400;
      line-height:25px;
      text-align: center;
      display: inline-block;
      text-decoration: none;
      vertical-align: middle;
      text-transform: capitalize;
    }

    &+li:before {
      content: "";
      padding: 0;
      width: 3px;
      height: 25px;
      vertical-align: middle;
      display: inline-block;
      background-color: $beige;
    }
  }
}

.w-title {
  color: $beige;
  font-size: 17px;
  font-weight:bold;
  background-color: $dark;
  text-transform: uppercase;
  
  .step {
    font-weight: 300;

    &.active {
      font-weight:bold;
    }
  }

  .small__text {
    font-weight: 400;
    text-transform: lowercase;
  }
}