---
layout: desktop
---

<div class="w-app">
    <a href="#" id="scroll__top" class="b-scroll__top">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </a><!--b-scroll__top-->

    <header class="w-header">
        <a href="#" class="b-main__logo"></a><!--b-main__logo-->

        <nav class="w-nav">
            <ul class="b-toolbar">
                <li class="active">
                    <a href="#" class="icon discover"></a>
                </li>
                <li>
                    <a href="#" class="icon message">
                        <!--<span class="incomming"></span>-->
                    </a>
                </li>
                <li>
                    <a href="#" class="icon profile"></a>
                </li>
            </ul><!--b-toolbar-->
        </nav><!--w-nav-->
    </header><!--w-header-->

    <aside class="w-sidenav">
        <div class="b-sidenav">
            <ul class="b-vertical__menu vertical menu">
                <li class="active"><a href="#">Nearby</a></li>
                <li><a href="#">Recent</a></li>
                <li><a href="#">Shuffle</a></li>
                <li><a href="#">Favorites</a></li>
            </ul><!--b-vertical__menu-->

            <label class="b-checkbox desktop">
                <input type="checkbox">
                <div class="media_inner"></div>
                <div class="text">Online</div>
            </label><!--b-checkbox-->


            <div class="w-change__view">
                <button class="b-btn__icon active grid__view" type="button"></button>

                <button class="b-btn__icon list__view" type="button"></button>
            </div><!--w-change__view-->

            <section id="online__favorites" class="w-online__favorites">
                <div class="inner">
                    <header>
                        <div class="icon is-favorite"></div>
                        Online Favorites
                    </header>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="b-favorite__online">
                                <span class="ava"><img src="/assets/img/ava/img01.jpg" alt=""></span>
                                <span class="text">Nickname, 36</span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="b-favorite__online">
                                <span class="ava"><img src="/assets/img/ava/img01.jpg" alt=""></span>
                                <span class="text">Nickname, 36</span>
                            </a>
                        </li>
                    </ul>
                </div><!--inner-->
            </section><!--w-online__favorites-->
        </div><!--b-sidenav-->
    </aside><!--w-sidenav-->

    <main class="w-content">
        <div id="content" class="b-content">
            <div class="inner__col">
                <div class="w-card__row desktop">
                    <figure data-open="card" class="b-user__card desktop">
                        <div class="is-favorite"></div>

                        <div class="message">3</div>

                        <div class="status currently__online"></div>

                        <div class="ava">
                            <img src="/assets/img/ava/img01.jpg" alt="" class="">
                        </div>

                        <div class="name">
                            #nickname #nickname
                        </div>
                    </figure><!--b-user__card-->

                    <figure data-open="card" class="b-user__card desktop">
                        <div class="is-favorite"></div>

                        <div class="message">32</div>

                        <div class="status recently__online"></div>

                        <div class="ava">
                            <img src="/assets/img/ava/img01.jpg" alt="" class="">
                        </div>

                        <div class="name">
                            #nickname #nickname
                        </div>
                    </figure><!--b-user__card-->

                    <figure data-open="card" class="b-user__card desktop">
                        <div class="is-favorite"></div>

                        <div class="message"></div>

                        <div class="status offline"></div>

                        <div class="ava">
                            <img src="/assets/img/ava/img01.jpg" alt="" class="">
                        </div>

                        <div class="name">
                            #nickname #nickname
                        </div>
                    </figure><!--b-user__card-->

                    <figure data-open="card" class="b-user__card desktop">
                        <div class="is-favorite"></div>

                        <div class="message">3</div>

                        <div class="status currently__online"></div>

                        <div class="ava">
                            <img src="/assets/img/ava/img01.jpg" alt="" class="">
                        </div>

                        <div class="name">
                            #nickname #nickname
                        </div>
                    </figure><!--b-user__card-->

                    <figure data-open="card" class="b-user__card desktop">
                        <div class="is-favorite"></div>

                        <div class="message">32</div>

                        <div class="status recently__online"></div>

                        <div class="ava">
                            <img src="/assets/img/ava/img01.jpg" alt="" class="">
                        </div>

                        <div class="name">
                            #nickname #nickname
                        </div>
                    </figure><!--b-user__card-->

                    <figure data-open="card" class="b-user__card desktop">
                        <div class="is-favorite"></div>

                        <div class="message"></div>

                        <div class="status offline"></div>

                        <div class="ava">
                            <img src="/assets/img/ava/img01.jpg" alt="" class="">
                        </div>

                        <div class="name">
                            #nickname #nickname
                        </div>
                    </figure><!--b-user__card-->

                    <figure data-open="card" class="b-user__card desktop">
                        <div class="is-favorite"></div>

                        <div class="message">3</div>

                        <div class="status currently__online"></div>

                        <div class="ava">
                            <img src="/assets/img/ava/img01.jpg" alt="" class="">
                        </div>

                        <div class="name">
                            #nickname #nickname
                        </div>
                    </figure><!--b-user__card-->

                    <figure data-open="card" class="b-user__card desktop">
                        <div class="is-favorite"></div>

                        <div class="message">32</div>

                        <div class="status recently__online"></div>

                        <div class="ava">
                            <img src="/assets/img/ava/img01.jpg" alt="" class="">
                        </div>

                        <div class="name">
                            #nickname #nickname
                        </div>
                    </figure><!--b-user__card-->

                    <figure data-open="card" class="b-user__card desktop">
                        <div class="is-favorite"></div>

                        <div class="message"></div>

                        <div class="status offline"></div>

                        <div class="ava">
                            <img src="/assets/img/ava/img01.jpg" alt="" class="">
                        </div>

                        <div class="name">
                            #nickname #nickname
                        </div>
                    </figure><!--b-user__card-->

                    <figure data-open="card" class="b-user__card desktop">
                        <div class="is-favorite"></div>

                        <div class="message">3</div>

                        <div class="status currently__online"></div>

                        <div class="ava">
                            <img src="/assets/img/ava/img01.jpg" alt="" class="">
                        </div>

                        <div class="name">
                            #nickname #nickname
                        </div>
                    </figure><!--b-user__card-->

                    <figure data-open="card" class="b-user__card desktop">
                        <div class="is-favorite"></div>

                        <div class="message">32</div>

                        <div class="status recently__online"></div>

                        <div class="ava">
                            <img src="/assets/img/ava/img01.jpg" alt="" class="">
                        </div>

                        <div class="name">
                            #nickname #nickname
                        </div>
                    </figure><!--b-user__card-->

                    <figure data-open="card" class="b-user__card desktop">
                        <div class="is-favorite"></div>

                        <div class="message"></div>

                        <div class="status offline"></div>

                        <div class="ava">
                            <img src="/assets/img/ava/img01.jpg" alt="" class="">
                        </div>

                        <div class="name">
                            #nickname #nickname
                        </div>
                    </figure><!--b-user__card-->

                    <figure data-open="card" class="b-user__card desktop">
                        <div class="is-favorite"></div>

                        <div class="message">3</div>

                        <div class="status currently__online"></div>

                        <div class="ava">
                            <img src="/assets/img/ava/img01.jpg" alt="" class="">
                        </div>

                        <div class="name">
                            #nickname #nickname
                        </div>
                    </figure><!--b-user__card-->

                    <figure data-open="card" class="b-user__card desktop">
                        <div class="is-favorite"></div>

                        <div class="message">32</div>

                        <div class="status recently__online"></div>

                        <div class="ava">
                            <img src="/assets/img/ava/img01.jpg" alt="" class="">
                        </div>

                        <div class="name">
                            #nickname #nickname
                        </div>
                    </figure><!--b-user__card-->

                    <figure data-open="card" class="b-user__card desktop">
                        <div class="is-favorite"></div>

                        <div class="message"></div>

                        <div class="status offline"></div>

                        <div class="ava">
                            <img src="/assets/img/ava/img01.jpg" alt="" class="">
                        </div>

                        <div class="name">
                            #nickname #nickname
                        </div>
                    </figure><!--b-user__card-->

                    <figure data-open="card" class="b-user__card desktop">
                        <div class="is-favorite"></div>

                        <div class="message"></div>

                        <div class="status offline"></div>

                        <div class="ava">
                            <img src="/assets/img/ava/img01.jpg" alt="" class="">
                        </div>

                        <div class="name">
                            #nickname #nickname
                        </div>
                    </figure><!--b-user__card-->
                </div><!--w-card__row-->

                <ul class="b-user__list list-unstyled">
                    <li>
                        <div class="ava">
                            <img src="/assets/img/ava/img01.jpg" alt="">

                            <div class="b-status__indicator currently__online"></div>
                        </div><!--ava-->

                        <div class="inner">
                            <div class="is-favorite"></div>

                            <div class="b-message__indicator">3</div>

                            <div class="col name">Nickname, 36</div>
                            <div class="col stats text-right">185 cm / 75kg</div>
                            <div class="col distance">365m away</div>
                            <div class="col discription text-right">versatile</div>
                        </div><!--inner-->
                    </li>

                    <li>
                        <div class="ava">
                            <img src="/assets/img/ava/img01.jpg" alt="">

                            <div class="b-status__indicator currently__online"></div>
                        </div><!--ava-->

                        <div class="inner">
                            <div class="is-favorite"></div>

                            <div class="b-message__indicator">3</div>

                            <div class="col name">Nickname, 36</div>
                            <div class="col stats text-right">185 cm / 75kg</div>
                            <div class="col distance">365m away</div>
                            <div class="col discription text-right">versatile</div>
                        </div><!--inner-->
                    </li>
                </ul>
            </div><!--inner__col-->
        </div><!--b-content-->
    </main><!--w-content-->
</div><!--w-app-->


<div class="b-card reveal large" id="card" data-reveal>
    <div class="row">
        <div class="medium-6 small-12 columns">
            <img class="orbit-image" src="https://placeimg.com/200/200/tech" alt="">

            <div class="w-photos row">
                <div class="small-3 columns"><img src="https://placeimg.com/200/200/tech" alt=""></div>
                <div class="small-3 columns"><img src="https://placeimg.com/200/200/tech" alt=""></div>
                <div class="small-3 columns"><img src="https://placeimg.com/200/200/tech" alt=""></div>
                <div class="small-3 columns"><img src="https://placeimg.com/200/200/tech" alt=""></div>
            </div>
        </div><!--col-->

        <div class="medium-6 small-12 columns">
            <div class="w-btn text-right position__relative">
                <button class="b-btn__icon" type="button" data-toggle="filter">
                    <!--<i class="fa fa-ban" aria-hidden="true"></i>-->
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </button>

                <ul class="b-dropdown__list dropdown-pane float-right" id="filter" data-dropdown>
                    <li>
                        <button class="b-btn b-btn__default button expanded">
                            Block user
                        </button>
                        <button class="b-btn b-btn__default button expanded">
                            Report user
                        </button>
                        <button class="b-btn b-btn__default button expanded">
                            Cancel
                        </button>
                    </li>
                </ul>
            </div><!--position__relative-->

            <div class="info">
                <div class="w-name__row">
                    <button class="b-btn__icon favorite"></button>

                    <div class="name">Nickname, 35</div>
                </div><!--w-name__row-->

                <div class="w-status__row">
                    <div class="b-status currently__online"><!--currently__online recently__online-->
                        <div class="media"></div>
                        <div class="text">Online now</div>
                    </div><!--b-status-->

                    <div class="distance">356 m away</div>
                </div><!--w-status__row-->
            </div>

            <div class="w-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam aut ea, excepturi facere, hic ipsa laborum, libero mollitia necessitatibus.
            </div><!--w-text-->
            <hr class="b-divider">
            <div class="w-tags">
                <span class="label main">#Tags</span>
                <span class="label highlight"># tag highlight</span>
            </div><!--w-tags-->
            <hr class="b-divider">

            <h4>About</h4>

            <ul class="b-stats__list">
                <li>
                    Height: 182cm, Weight: 75kg, Body: Slim
                </li>

                <li>
                    Position: Versatile, Penis: L
                </li>

                <li>
                    HIV: PReP, Drugs: no drugs
                </li>
            </ul><!--b-stats__list-->
            <hr class="b-divider">

            <div class="text-center">
                <a href="#" class="b-chat__link">
                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                    <span class="incomming">3</span>
                </a>
            </div>
        </div><!--col-->
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>