.b-enter__text {
  position: relative;

  textarea {
    margin:0;
    resize: none;
    padding-right: 50px;

    &:focus ~ .send__link {
      opacity:1;
      //display: block;
    }
  }

  .send__link {
    //display: none;
    opacity: 0;
    top:50%;
    right:0;
    position: absolute;
    transform: translateY(-50%);
  }
}
.b-message {
  padding: 10px;
  max-width:70%;
  color: #010101;
  font-size: 18px;
  line-height: 1.4;
  position: relative;
  margin-bottom: 8px;

  &.message-received {
    align-self: flex-start;
    align-items: flex-start;
    background-color: #ffcf79;

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8.5px 14.7px 8.5px 0;
      border-color: transparent #ffd079 transparent transparent;
      position: absolute;
      left:-14px;
      bottom:0;
    }

    .time {
      left:5px;
    }
  }

  &.message-sent {
    align-self: flex-end;
    align-items: flex-end;
    background-color: #e5e4d7;

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8.5px 0 8.5px 14.7px;
      border-color: transparent transparent transparent #e5e4d7;
      position: absolute;
      right:-14px;
      bottom:0;
    }

    .time {
      right:5px;
    }
  }

  &.message-last {
    margin-bottom:25px;
  }

  .time {
    bottom:-20px;
    color: #e5e4d7;
    font-size: 15px;
    line-height:15px;
    position: absolute;
    font-family: $italic__font;

    &:empty {
      display: none;
    }
  }
}
.b-messages__date {
  padding: 5px 0;
  text-align: center;
  font-family: $bold__font;
}
.b-user__card-xs {
  width: 50%;
  display: flex;
  align-items: center;

  .ava {
    width: 40px;
    flex-shrink: 0;
  }

  .inner__text {
    width: 100%;
    line-height:1;
    padding-left: 25px;
    position: relative;

    .distance {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .name {
      overflow: hidden;
      margin-bottom: 5px;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-family: $bold__font;
    }

    .status {
      top:3px;
      left:12px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      border:1px solid #e5e4d7;

      &.currently__online {
        border-color: #00ff00;
        background-color: #00ff00;
      }
      &.recently__online {
        border-color: #ffff00;
        background-color: #ffff00;
      }
    }
  }
}


.w-location__tab {

  .b-btn__upload-photo {
    position: absolute;
    bottom:0;
    left: 0;
  }
}
.w-map {
  height: 250px;
  padding-bottom: 56px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.w-media__content {
  //height: 100%;
  color: #000;
  height: 250px;
  overflow: scroll;
  position: relative;
  background-color: #e5e4d7;
}
.w-messages {
  display: flex;
  padding:0 20px;
  flex-direction: column;
}

.w-photo__tab {
  position: relative;

  .b-btn__upload-photo {
    left:0;
    bottom:0;
    z-index:1;
    position: absolute;
  }

  .w-user__photos {
    height: 250px;
    overflow: scroll;
    padding-bottom: 56px;
  }
}
