.b-chat__list {
  margin:0;
  padding:0 20px 0 8px;
  list-style: none;
}
.b-chat__link-item {
  display: flex;
  min-height:75px;
  align-items: flex-start;
  justify-content: space-between;

  .item-media {
    width: 50px;
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 8px;
  }

  .item-inner {
    width: 100%;
    padding:10px 0 10px 30px;
    align-self: stretch;
    position: relative;
    min-height: 44px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: flex-start;

    .status {
      top:18px;
      left:15px;
      width: 8px;
      height:8px;
      border-radius: 50%;
      position: absolute;
      border: 1px solid #e5e4d7;

      &.currently__online {
        border-color: $light__green;
        background-color: $light__green;
      }

      &.recently__online {
        border-color: #ffff00;
        background-color: #ffff00;
      }
    }

    .w-text {
      flex:1 1 70%;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 15px;

      &.unread {

        .body {
          font-family: $bold__font;
        }
      }

      &.reply {

        .body {

          .icon {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            transform: rotate(180deg);
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            &:before {
              content: "\f112";
            }
          }
        }
      }

      .body {
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
      }

      .name {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
.b-tabs__menu {
  margin:0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height:100%;

  >.active:after {
    content: '';
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 2px;
    background-color: $light__green;
  }

  >li {
    flex:1 1 auto;
    padding: 0 10px;
    position: relative;
    text-align: center;
    color: #e5e4d7;
    display: block;
    font-size: 18px;
    line-height: 48px;
    font-family: "SegoeUI-Bold";

    >a {
      color: #e5e4d7;
      display: block;
      font-size: 18px;
      line-height: 48px;
      font-family: $bold__font;
    }
  }
}
.b-chat__page {
  color: #fff;
  background-color: #393933;
}

.w-indicators {
  flex: 1 0 30%;

  .message__count {
    width: 25px;
    height:25px;
    float: right;
    margin-top:7px;
    border-radius: 50%;
    background-color: $green;
    font-family: $bold__font;
    display: flex;
    align-items: center;
    justify-content: center;

    &:empty {
      display: none;
    }
  }

  .message__time {
    text-align: right;
    white-space:nowrap;
  }
}