.b-register__page {
  background-color: #393933;
}
.b-skip__link {
  color: $beige;
  text-decoration: underline;
}

.w-form__text {
  color: #e5e4d7;
  max-width: 70%;
  margin: 0 auto 15px;
  font-family: $bold__font;
}
.w-user__ava {
  color: #fff;
  max-width: 50%;
  font-size: 10rem;
  text-align: center;
  margin: 0 auto 25px;
}