.b-chat__link {
  line-height: 1;
  font-size: 60px;
  position: relative;
  vertical-align: top;
  color: $light__green;
  display: inline-block;

  &:hover,
  &:focus {
    outline: none;
    color: $red;
  }

  .incomming {
    top: 0;
    height: 30px;
    width: 30px;
    right: -10px;
    color: #fff;
    line-height: 30px;
    font-size: 23px;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    background: $green;
    font-family: $bold__font;

    &:empty {
      display: none;
    }
  }
}
.b-profile__photo {
  height: 100%;

  img {
    height: 100%;
    object-fit: cover;
  }
}
.b-status {
  display: flex;
  align-items: center;

  &.currently__online {
    //color: #8ac176;
    color: #00ff00;

    .media {
      //background-color: #8ac176;
      background-color: #00ff00;
    }
  }

  &.recently__online {
    color: #f1c233;

    .media {
      background-color: #f1c233;
    }
  }

  .media {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid;
    margin-right: 10px;
  }

  .text {

  }
}
.b-stats__list {
  margin-left:0;
  list-style: none;
  //font-family: $bold__font;
  padding-top: 10px;

  >li {
    position: relative;
    //padding-left: 30px;
    margin-bottom:5px;
  }

  .icon {

    width: 30px;
    margin-right: 5px;
  }
}

.w-name__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding:0 0 0 50px;
  margin-bottom: 12px;

  .name {
    font-weight:bold;
    overflow: hidden;
    font-size: 24px;
    text-overflow: ellipsis;
  }

  .b-btn__icon {
    left: 0;
    top: 50%;
    font-size: 30px;
    position: absolute;
    transform: translateY(-50%);
  }
}
.w-photos {
  padding:10px 0;
}
.w-slider__controls {
  left:0;
  bottom: 0;
  z-index:1;
  width: 100%;
  padding:15px;
  position: absolute;
}
.w-status__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.w-swiper {
  background-color: $dark;
  height: calc(100vh - 48px);
}
.w-tags {
  //padding:10px 0;
  //overflow: hidden;
  //white-space: nowrap;
  //text-overflow: ellipsis;

  .label {
    vertical-align: top;
    font-size: 17px;

    &.main {
      color: #fff;
      background-color: $green;
    }
    &.highlight {
      color: #393933;
      background-color: $beige;
    }
  }
}
.w-user {
  position: relative;
  margin-bottom: 12px;
  height:calc(100vh - 48px);

  .ava {
    height:100%;
    width: 100%;
    object-fit: cover;
  }

  .b-chat__link {
    left:50%;
    bottom:30%;
    position: absolute;
    transform: translateX(-50%);
  }

  .info {
    left: 0;
    bottom:0;
    padding:15px;
    width: 100%;
    color: #fff;
    position: absolute;
    font-family: $bold__font;
    background-color: rgba(44, 103, 0, .55);
  }
}