<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <title>desktop</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">

    <!--fonts-->
    <link rel="stylesheet" href="{{root}}assets/fonts/segoeui/styles.css">
    <link rel="stylesheet" href="{{root}}assets/fonts/segoeui-bold/styles.css">
    <link rel="stylesheet" href="{{root}}assets/fonts/segoeui-italic/styles.css">


    <link rel="stylesheet" href="{{root}}assets/css/desktop.css">
</head>
<body>

{{> body}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
<script src="{{root}}assets/js/app.js"></script>
<script src="http://bigspotteddog.github.io/ScrollToFixed/jquery-scrolltofixed-min.js"></script>
<script>
    (function ($) {
        var scrollButton = $('#scroll__top');


        $('#content').scroll(function () {
            $(this).scrollTop() > 50 ? scrollButton.addClass('active') : scrollButton.removeClass('active');
        });

        scrollButton.click(function (e) {
            e.preventDefault();

            $('#content').animate({scrollTop: 0}, 500);
        });
    }(jQuery));

    $(document).ready(function() {
        $('#online__favorites').scrollToFixed({
            bottom: 0
        });
    });
</script>
</body>
</html>