.w-form {
  padding:30px 0;
}
.w-form__reveal {
  color: #fff;
  top:0!important;
  padding-top: 40px;
  background-color: $dark;

  .title {
    margin-bottom: 24px;
  }

  &:focus {
    outline:none;
  }
}