.b-user__photo {
  position: relative;

  //.icon__profile,
  //.icon__public {
  //  //top: 15px;
  //  top: 50%;
  //  color: $red;
  //  font-size: 20px;
  //  position: absolute;
  //  transform: translateY(-50%);
  //}
  //
  //.icon__profile {
  //  left:15px;
  //}
  //
  //.icon__public {
  //  right: 15px;
  //}

  //.overlay {
  //  position: absolute;
  //  bottom: 0;
  //  left: 0;
  //  width: 100%;
  //  display: flex;
  //  min-height: 30px;
  //  align-items: center;
  //  justify-content: space-between;
  //  background: rgba(44, 103, 0, .55);
  //}

  .is__public-photo {
    top:5px;
    left: 5px;
    width: 25%;
    position: absolute;
  }

  .is__profile-photo {
    top:5px;
    left: 5px;
    width: 25%;
    position: absolute;
  }

  input[type='checkbox'] {
    display: none;
  }

  input[type='checkbox']:checked ~ .media__icon {
    display: block;
  }

  .media__icon {
    display: none;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top:0;
    right:0;
    font-size: 50px;
    color: $light__green;

    &:before {
      content: "\f00c";
    }
  }
}

.w-user__photos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .b-btn__photo-add {
    //width: 25%;
    align-self: stretch;
  }

  .user__photos-width {
    margin-bottom: 6px;
    width: calc((100% - 6px*3)/ 4);
  }

  .b-user__photo {
    //width: 25%;
    //border: 1px solid $red;
  }
}