.b-list__block {
  margin:0 0 20px 0;
  list-style: none;

  .item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23c7c7cc'%2F%3E%3C%2Fsvg%3E");
    background-image: url("/assets/img/icons/icon08.png");
    background-size: 15px 20px;
    background-repeat: no-repeat;
    background-position: 95% center;
    background-position: calc(100% - 15px) center;

    &.with-border {
      border-bottom: 1px solid $green;
    }
  }

  .item-after {
    color: #000;
    margin-left:5px;
    flex: 1 0 50%;
    padding: 10px 35px 10px 0;

    &.with-title {
      flex:0 0 70%;
    }

    &.text-wrap {
      padding: 0;
      overflow: hidden;
      max-height: 3.6em;
      line-height: 1.8em;
      position: relative;

      //&:after {
      //  content: '...';
      //  position: absolute;
      //  bottom:0;
      //  right:0;
      //}
    }

    select {
      font-family: $bold__font;
    }
  }

  .item-title {
    padding: 10px;
    padding:10px 5px;
    //color: $light;
    color: $dark;
    flex: 1 0 auto;
    min-width: 0;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}